//!!!DO NOT TOUCH - GO TO CORE!!!
@import "../../../../../core/styles/sass/skeleton_core/nav_core/nav_core";
@mixin navImageFilter {
    @if $LIGHT_THEME==false {
        filter: brightness(1.5) contrast(0.7);
    }
    @if $LIGHT_THEME==true {
        filter: none;
    }
}

$hor_navfontsize: map-get($horizontHeader, height) / 2;
//
nav,
nav ul,
nav ul li,
nav span {
    display: flex;
}

nav {
    text-transform: uppercase;
    color: $c_opos;
    user-select: none;
    ul li {
        cursor: pointer;
    }
    a {
        border-bottom: none;
    }
}

@if $PM_HEADER_IS_VERTICAL==true {
    #pm_Nav--desktop {
        margin-top: 4vh;
        height: 60vh;
        width: map-get($verticalHeader, width);
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        ul li {
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
            &:hover>a>span {
                transition: ease-in 0.1s;
                @include dir(calc(#{map-get($verticalHeader, width)} - 1vh));
            }
            &:hover>a>img {
                transition: ease-in 0.2s;
                width: calc(#{map-get($verticalHeader, width)} / 1.8);
            }
            img {
                width: calc(#{map-get($verticalHeader, width)} / 2.9);
                @include navImageFilter();
            }
            span {
                position: absolute;
                align-items: center;
                @include dir(-50vh);
                width: 15vh;
                justify-content: center;
                height: calc(#{map-get($verticalHeader, width)} / 2);
                z-index: -1;
                border-radius: 1vh;
                background-color: $c_interP1;
                padding: 0.5vh;
            }
        }
    }
}

@if $PM_HEADER_IS_VERTICAL==false {
    #pm_Nav--desktop {
        align-items: center;
        text-align: center;
        justify-content: space-between;
        height: 100%;
        ul li:first-of-type {
            display: none;
        }
        ul li {
            padding-left: 1vw;
            padding-right: 1vw;
            height: 115%;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
            @if $PM_NAV_ICONS==true {
                &:hover>a>img {
                    transition: ease-in 0.3s;
                    border-radius: 0.4vh;
                    border: solid 0.1vh;
                    padding: 0.3vh;
                }
                img {
                    @include navImageFilter();
                }
                img,
                &+div>img {
                    padding: 1vh;
                    border: solid 0.1vh transparent;
                    width: calc(#{map-get($verticalHeader, width)} / 2);
                }
                &:hover>a>span {
                    transition: ease-in 0.2s;
                    opacity: 1;
                    background-color: $c_domin;
                }
                span {
                    font-size: $hor_navfontsize;
                    @include font(1, 400);
                    opacity: 0;
                    position: fixed;
                    top: calc(#{map-get($horizontHeader, height)} / 0.9);
                    z-index: -10;
                    border-radius: 0.5vh;
                    padding: 0.4vh;
                }
            }
            @if $PM_NAV_ICONS==false {
                span {
                    font-size: $hor_navfontsize;
                    align-items: center;
                    justify-content: center;
                    top: initial !important;
                    width: 100%;
                    height: 100%;
                    &:hover {
                        transition: 1s;
                        filter: brightness(1.5);
                        border-bottom: solid 0.1vh $c_opos;
                    }
                }
                img {
                    display: none !important;
                }
            }
        }
    }
}

@if $LIGHT_THEME==false {}

@if $LIGHT_THEME==true {}

[data-floatheader=true] {}

#pm_Nav--mobile {
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 12vh;
    width: 100%;
    text-transform: uppercase;
    [dir=rtl] & {
        align-items: flex-end;
    }
    [dir=ltr] & {
        align-items: flex-start;
    }
    ul {
        flex-direction: column;
    }
    ul li {
        height: map-get($mob, nav_height);
        color: $c_opos;
        width: 100%;
        align-items: center;
        img,
        span {
            @include f-size-fill(1);
            [dir=rtl] & {
                margin-right: 3vh;
            }
            [dir=ltr] & {
                margin-left: 3vh;
            }
        }
        img {
            @include width-fill(1.5);
            @include navImageFilter();
        }
    }
}

#pm_Nav--mobile {
    @include font(1, 400);
}

[data-floatheader=true] {
    #pm_Nav--mobile {
        margin-top: 1vh;
    }
}

#pm_id_NavFloat {
    width: 100%;
    @include flex-center();
    ul li {
        padding-left: 0.7vh;
        padding-right: 0.7vh;
        &:hover {
            border-bottom: solid 0.1vh $c_opos;
        }
        @if $PM_NAV_ICONS==false {
            img {
                display: none;
            }
            span {
                color: $c_opos;
                @include f-size(map-get($floatheader, fontSize))
            }
        }
    }
    ul li:first-of-type {
        // display: none;
    }
}