//!!!DO NOT TOUCH - GO TO CORE!!!
@import "../../../../../core/styles/sass/skeleton_core/nav_core/nav_vert_extended_core";
//
header.header-desktop--vert.vert--extended {
    nav {
        width: map-get($verticalHeader, extend_width);
        margin-top: 5vh;
        >ul {
            position: absolute;
            display: block;
        }
        ul li {
            display: block;
        }
        ul>li {
            margin-bottom: 1vh;
        }
        >ul>li.isempty>div>div>span {
            filter: opacity(0.5);
        }
        >ul>li>div {
            margin-bottom: 1vh;
            color: $c_opos;
            display: flex;
            align-items: center;
            >img {}
            >div>span {
                @include f-size-fill($basicTextSize * 1.4);
                [dir=rtl] & {
                    margin-right: 2vh;
                }
                [dir=ltr] & {
                    margin-left: 2vh;
                }
            }
            >img {
                height: 4vh;
                // @include width-fill(1.5);
                @include navImageFilter();
            }
        }
        >ul>li>ul {
            display: block;
            [dir=rtl] & {
                margin-right: 5vh;
            }
            [dir=ltr] & {
                margin-left: 5vh;
            }
            >li {
                padding: 0.5vh;
                >div>div>span {
                    @include f-size-fill($basicTextSize * 1.1);
                    [dir=rtl] & {
                        margin-right: 2vh;
                    }
                    [dir=ltr] & {
                        margin-left: 2vh;
                    }
                }
                >div>img {
                    @include width-fill(1.2);
                    @include navImageFilter();
                }
            }
        }
    }
}