//!!!DO NOT TOUCH - GO TO CORE!!!
@import "../../../../../core/styles/sass/skeleton_core/nav_core/nav_vert_extended_core";
//
header.header-desktop--vert.vert--extended {
    nav {
        justify-content: center;
        width: map-get($verticalHeader, extend_width);
        >ul {
            position: absolute;
            display: flex;
            align-items: baseline;
            @include font(1, 600);
            height: auto;
        }
        ul li {
            display: block;
        }
        ul>li {
            margin-bottom: 1vh;
        }
        >ul>li.isempty>div>div>span {
            filter: opacity(0.5);
            pointer-events: none;
        }
        >ul>li>div {
            margin-bottom: 1vh;
            color: $c_opos;
            display: flex;
            align-items: center;
            >div>span {
                @include f-size-fill($basicTextSize * 0.6);
                [dir=rtl] & {
                    margin-right: 0.5vh;
                }
                [dir=ltr] & {
                    margin-left: 0.5vh;
                }
                &:hover {
                    background-color: $c_brand;
                    color: $c_white;
                }
                &:active {
                    filter: saturate(0);
                }
            }
            >img {
                display: none;
                /*  @include width-fill(1);
                @include navImageFilter(); */
            }
        }
        >ul>li>ul {
            display: block;
            [dir=rtl] & {
                margin-right: 2vh;
            }
            [dir=ltr] & {
                margin-left: 2vh;
            }
            >li {
                padding: 0.5vh;
                >div>div>span {
                    @include f-size-fill($basicTextSize * 0.5);
                    [dir=rtl] & {
                        margin-right: 0.5vh;
                    }
                    [dir=ltr] & {
                        margin-left: 0.5vh;
                    }
                    &:hover {
                        background-color: $c_brand;
                        color: $c_white;
                    }
                    &:active {
                        filter: saturate(0);
                    }
                }
                >div>img {
                    display: none;
                    /*  @include width-fill(1);
                    @include navImageFilter(); */
                }
            }
        }
    }
}