[data-floatheader=true] {}

#pm_Nav--float {
    width: 100%;
    @include flex-center();
    ul li {
        padding-left: 0.7vh;
        padding-right: 0.7vh;
        &:hover {
            border-bottom: solid 0.1vh $c_opos;
        }
        @if $PM_NAV_ICONS==false {
            img {
                display: none;
            }
            span {
                color: $c_opos;
                @include f-size(map-get($floatheader, fontSize))
            }
        }
    }
    ul li:first-of-type {}
}