//!!!DO NOT TOUCH - GO TO CORE!!!
@import "../../../../../core/styles/sass/skeleton_core/nav_core/nav_mobile_core";
//
$mobNavLiHeight: 4vh;
#pm_Nav--mobile {
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 12vh;
    width: 100%;
    [dir=rtl] & {
        align-items: flex-end;
    }
    [dir=ltr] & {
        align-items: flex-start;
    }
    ul {
        flex-direction: column;
    }
    ul li {
        align-items: center;
    }
    >ul>li.isempty>div>span {
        filter: opacity(0.5);
    }
    >ul>li {
        height: $mobNavLiHeight;
        color: $c_opos;
        width: 100%;
        align-items: center;
        >img {
            [dir=rtl] & {
                margin-right: 3vh;
            }
            [dir=ltr] & {
                margin-left: 3vh;
            }
        }
        >div>span {
            @include f-size-fill($basicTextSize);
            [dir=rtl] & {
                margin-right: 2vh;
            }
            [dir=ltr] & {
                margin-left: 2vh;
            }
        }
        >img {
            @include width-fill(1.5);
            @include navImageFilter();
        }
    }
    >ul>li>ul {
        position: absolute;
        align-self: flex-start;
        margin-top: calc(#{$mobNavLiHeight} + 0.5vh);
        [dir=rtl] & {
            margin-right: 3vh;
        }
        [dir=ltr] & {
            margin-left: 3vh;
        }
        >li {
            padding: 0.5vh;
            >div>span {
                @include f-size-fill($basicTextSize - 0.2);
                [dir=rtl] & {
                    margin-right: 2vh;
                }
                [dir=ltr] & {
                    margin-left: 2vh;
                }
            }
            >img {
                @include width-fill(1.2);
                @include navImageFilter();
            }
        }
    }
}

#pm_Nav--mobile {
    @include font(1, 400);
}

[data-floatheader=true] {
    #pm_Nav--mobile {
        margin-top: 1vh;
    }
}