$hor_navfontsize: map-get($horizontHeader, height) / 2;
@if $PM_HEADER_IS_VERTICAL==false {
    #pm_Nav--desktop {
        align-items: center;
        text-align: center;
        justify-content: space-between;
        >ul>li:first-of-type {
            display: none;
        }
        >ul>li {
            height: map-get($horizontHeader, height);
            padding-left: 1vw;
            padding-right: 1vw;
            justify-content: center;
            align-items: center;
            width: 100%;
            /* @if $PM_NAV_ICONS==true {
                &:hover>a>img {
                    transition: ease-in 0.3s;
                    border-radius: 0.4vh;
                    border: solid 0.1vh;
                    padding: 0.3vh;
                }
                img {
                    @include navImageFilter();
                }
                img,
                &+div>img {
                    padding: 1vh;
                    border: solid 0.1vh transparent;
                    width: calc(#{map-get($verticalHeader, width)} / 2);
                }
                &:hover>a>span {
                    transition: ease-in 0.2s;
                    opacity: 1;
                    background-color: $c_domin;
                }
                span {
                    font-size: $hor_navfontsize;
                    @include font(1, 400);
                    opacity: 0;
                    position: fixed;
                    top: calc(#{map-get($horizontHeader, height)} / 0.9);
                    z-index: -10;
                    border-radius: 0.5vh;
                    padding: 0.4vh;
                }
            } */
            @if $PM_NAV_ICONS==false {
                &:hover .pm_nav_item_sub_ul {
                    display: flex;
                }
                >span {
                    align-items: center;
                    justify-content: center;
                    top: initial !important;
                    width: 100%;
                    &:hover {
                        // filter: brightness(1.5);
                        transition: 0s !important;
                        margin-top: 0.1vh;
                        border-bottom: 0.1vh solid;
                    }
                }
                img {
                    display: none !important;
                }
            }
        }
        .pm_nav_item {}
        //
        //**SUB NAVS**//
        //
        .pm_nav_item_sub_ul {
            display: none;
            position: absolute;
            background-color: $c_domin;
            border-radius: 0.5vh;
            top: map-get($horizontHeader, height);
            justify-content: center;
            flex-direction: column;
            align-items: center;
            box-shadow: 0vh 0vh 0.8vh 0vh $c_black;
            li {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                >span {
                    padding: 1vh;
                    transition: 0s !important;
                    font-size: $hor_navfontsize / 1.6;
                }
                &:hover {
                    transition: 0s !important;
                    background-color: $c_opos;
                    color: $c_domin;
                }
            }
        }
        .pm_nav_item_sub {}
    }
}