//!!!DO NOT TOUCH - GO TO CORE!!!
@import "../../../../../core/styles/sass/skeleton_core/nav_core/nav_mobile_core";
//
$mobNavLiHeight: 4vh;
#pm_Nav--mobile {
    margin-top: calc(#{(map-get($mob, height))} + 5vh);
    >ul {
        position: absolute;
        display: block;
        [dir=rtl] & {
            right: 1.5vh;
        }
        [dir=ltr] & {
            left: 1.5vh;
        }
    }
    ul li {
        display: block;
    }
    ul>li {
        margin-bottom: 1vh;
    }
    >ul>li>div {
        margin-bottom: 1vh;
    }
    >ul>li.isempty>div>div>span {
        filter: opacity(0.5);
    }
    >ul>li>div {
        color: $c_opos;
        display: flex;
        align-items: center;
        >img {
            [dir=rtl] & {
                margin-right: 3vh;
            }
            [dir=ltr] & {
                margin-left: 3vh;
            }
        }
        >div>span {
            @include f-size-fill($basicTextSize * 1.4);
            [dir=rtl] & {
                margin-right: 2vh;
            }
            [dir=ltr] & {
                margin-left: 2vh;
            }
        }
        >img {
            height: 4vh;
            // @include width-fill(1.5);
            @include navImageFilter();
        }
    }
    >ul>li>ul {
        display: block;
        [dir=rtl] & {
            margin-right: 5vh;
        }
        [dir=ltr] & {
            margin-left: 5vh;
        }
        >li {
            padding: 0.5vh;
            >div>div>span {
                @include f-size-fill($basicTextSize * 1.1);
                [dir=rtl] & {
                    margin-right: 2vh;
                }
                [dir=ltr] & {
                    margin-left: 2vh;
                }
            }
            >div>img {
                @include width-fill(1.2);
                @include navImageFilter();
            }
        }
    }
}

#pm_Nav--mobile {
    @include font(1, 400);
}

[data-header=float] {
    #pm_Nav--mobile {
        margin-top: 1vh;
    }
}