//!!!DO NOT TOUCH - GO TO CORE!!!
@import "../../../../../core/styles/sass/skeleton_core/nav_core/nav_common_core";
@mixin navImageFilter {
    @if $LIGHT_THEME==false {
        filter: brightness(10) contrast(1);
    }
    @if $LIGHT_THEME==true {
        filter: none;
    }
}

$navSubULshadow: null;
@if $LIGHT_THEME==true {
    $navSubULshadow: 0vh 0.1vh 0.2vh 0vh $c_black;
}

@if $LIGHT_THEME==false {
    $navSubULshadow: 0vh 0vh 0.1vh 0.1vh $c_white;
}

//
nav,
nav ul,
nav ul li,
nav div,
nav div span {
    display: flex;
}

nav {
    user-select: none;
    ul li {
        cursor: pointer;
    }
    a {
        border-bottom: none;
    }
}

header.header-desktop--horiz nav,
header.header-desktop--horiz nav,
header.header-desktop--float nav,
footer nav,
#pm_Nav--mobile {
    color: $c_opos;
    text-transform: uppercase;
}

.pm_nav_item_sub_ul,
.pm_nav_item_sub {
    //display: none;
}

li.isempty {
    cursor: default;
    >span:hover {
        border-bottom: none !important;
    }
}