@if $LIGHT_THEME==true {}

@if $LIGHT_THEME==false {
    #gofanariumLink {
        margin-top: 8vh;
        margin-bottom: 5vh;
        background-color: $c_opos;
    }
    #fontsGrid {
        img {
            background-color: rgba($c_opos, 0.6);
            border-radius: 2vh;
            padding: 5vh;
        }
    }
}

@include mob(true) {
    #page_6_img_1 {
        margin-top: 5vh;
        width: 40vw;
    }
    #fontsGrid {
        margin-top: 5vh;
        margin-bottom: 2vh;
        @include pmGrid(1, 7vh);
        div {
            height: 100%;
        }
        img {
            width: 50vw;
        }
    }
}

@include mob(false) {
    #page_6_img_1 {
        margin-top: 5vh;
        width: 20vw;
    }
    #fontsGrid {
        @include pmGrid(1, 10vh);
        margin-top: 10vh;
        margin-bottom: 5vh;
        div {
            height: 100%;
        }
        img {
            width: 35vw;
        }
    }
}

#gofanariumLink {
    border-bottom: none;
    border-radius: 50%;
    width: 40vw;
    height: 40vw;
    display: flex;
    justify-content: center;
}

#text_6_3 {
    cursor: pointer;
    &:hover {
        margin-bottom: 1vh;
        transition: 1s;
    }
}