@include mob(true) {
    #motiongraphicsGrid {
        margin-top: 5vh;
        margin-bottom: 2vh;
        @include pmGrid(1, 7vh);
        div {
            height: 100%;
            iframe {
                height: 30vh;
            }
        }
    }
}

@include mob(false) {
    #motiongraphicsGrid {
        @include pmGrid(2, 10vh);
        margin-top: 10vh;
        margin-bottom: 5vh;
        div {
            height: 100%;
            iframe {
                height: 50vh;
            }
        }
    }
}

#pm_loader1 {
    @include rotate-center;
}