//manually set
//branding
$c_brand:#aa0000;
//dominant
$c_domin:#f9f9f9;
//oposite
$c_opos:#2f2f2fff;
//error
$c_err:#ff0c00ff;
//success
$c_succ:#32aa50;
//theme agnostic
$c_black: #2f2f2fff;
$c_white: #f9f9f9;