//manually set
//branding
$c_brand:#294552;
//dominant
$c_domin:#e4e9ed;
//oposite
$c_opos:#00070a;
//error
$c_err:#ff0c00ff;
//success
$c_succ:#32aa50;
//theme agnostic
$c_black: #00070a;
$c_white: #e4e9ed;