#pm_thebility {
    z-index: 2000;
}

$mainTHebiltyColor: rgba($c_interBP1, 0.7);
$backTHebiltyColor: rgba($c_domin, 0.8);
#thebilityIcon {
    position: fixed;
    z-index: 2001;
    [dir="rtl"] & {
        left: 0;
    }
    [dir="ltr"] & {
        right: 0;
    }
    top: 15vh;
    background-color: $mainTHebiltyColor;
    [dir="rtl"] & {
        border-top-right-radius: 7px;
        border-bottom-right-radius: 7px;
    }
    [dir="ltr"] & {
        border-top-left-radius: 7px;
        border-bottom-left-radius: 7px;
    }
    img {
        cursor: pointer;
        width: 2.6vh;
        padding: 1vh;
        display: flex;
        &:hover {
            [dir="ltr"] & {
                padding-right: 2.6vh;
            }
            [dir="rtl"] & {
                padding-left: 2.6vh;
            }
            transition: ease 0.3s;
        }
    }
}

#thebility_buttonsDiv {
    position: absolute;
    [dir="ltr"] & {
        right: 36vh;
    }
    [dir="rtl"] & {
        left: 36vh;
    }
    top: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    div {
        background: rgba($c_opos, 0.7);
        padding: 1vh;
        border-radius: 4px;
        box-shadow: 0px 0px 0px 5px $mainTHebiltyColor;
        user-select: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        filter: grayscale(1);
        &:hover {
            filter: grayscale(0);
        }
        &:active {
            filter: grayscale(0);
        }
    }
    div:last-of-type {
        margin-top: 2vh;
    }
}

#thebilityMainDiv {
    color: $c_opos;
    display: none;
    opacity: 0;
    width: auto;
    position: fixed;
    top: 12vh;
    border-radius: 4px;
    z-index: 999;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    user-select: none;
    [dir="ltr"] & {
        left: calc(90vw- 35vh);
    }
    [dir="rtl"] & {
        left: 10vh;
    }
    .thebilityDiv {
        @include font(1, 400);
        @include rfs-fs(0.8);
        text-transform: capitalize;
        text-align: center;
        background: $backTHebiltyColor;
        padding: 2vh;
        border-radius: 4px;
        box-shadow: 0px 0px 0px 5px $mainTHebiltyColor;
        width: 30vh;
        user-select: none;
        margin-top: 2vh;
        cursor: pointer;
        &:hover {
            background: darken($backTHebiltyColor, 3%);
            box-shadow: 0px 0px 0px 5px lighten($mainTHebiltyColor, 9%);
        }
    }
    .column {
        display: flex;
        flex-direction: column;
    }
}

#dragThebility {
    cursor: -webkit-grab;
}

#closeThebility {
    cursor: pointer;
}

#closeThebility:hover {
    filter: grayscale(0);
}

@include mob(true) {
    #thebilityIcon {
        img {
            width: 2vh;
            &:hover {
                [dir="ltr"] & {
                    padding-right: unset !important;
                    ;
                }
                [dir="rtl"] & {
                    padding-left: unset !important;
                    ;
                }
                transition: none;
            }
        }
    }
    #thebilityMainDiv {
        width: 100vw;
        left: 0;
    }
    #pm_thebility {
        .column {
            flex-direction: column;
        }
        .thebilityDiv {
            width: 60vw;
            @include rfs-fs(0.4);
            input {
                margin-top: 1.5vh;
            }
        }
    }
    #dragThebility {
        display: none;
    }
    #closeThebility {
        display: none;
    }
}

@include mob(false) {
    #pm_thebility .column {
        flex-direction: column;
    }
}


/**/

.animPause {
    -webkit-animation-play-state: paused !important;
    -moz-animation-play-state: paused !important;
    -o-animation-play-state: paused !important;
    animation-play-state: paused !important;
}

.aUnderline {
    border-bottom: 1.5px solid $c_interBB !important;
}

.invertHtml {
    filter: invert(100%) !important;
}

.bolderfont {
    font-weight: 900 !important;
}

#thebilityMainDiv {
    input[type="range"] {
        -webkit-appearance: none;
        width: 100%;
        margin: 6.5px 0;
        box-shadow: none !important;
        border: none !important;
    }
    input[type="range"]:focus {
        outline: none !important;
    }
    input[type="range"]:active {
        outline: none !important;
    }
    input[type="range"]::-webkit-slider-runnable-track {
        width: 100%;
        height: 9px;
        cursor: pointer;
        box-shadow: 1px 1px 2.3px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
        background: rgba($c_interBB, 0.3);
        border-radius: 1px;
        border: 0px solid rgba(255, 255, 255, 0);
    }
    input[type="range"]::-webkit-slider-thumb {
        box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
        // border: 0px solid #d670b7;
        height: 22px;
        width: 17px;
        border-radius: 0px;
        background: rgba($c_interBB, 0.66);
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -6.5px;
    }
    input[type="range"]:focus::-webkit-slider-runnable-track {
        background: rgba($c_interBB, 0.3);
    }
    input[type="range"]::-moz-range-track {
        width: 100%;
        height: 9px;
        cursor: pointer;
        box-shadow: 1px 1px 2.3px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
        background: rgba($c_interBB, 0.3);
        border-radius: 1px;
        border: 0px solid rgba(255, 255, 255, 0);
    }
    input[type="range"]::-moz-range-thumb {
        box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
        //  border: 0px solid #d670b7;
        height: 22px;
        width: 17px;
        border-radius: 0px;
        background: rgba($c_interBB, 0.66);
        cursor: pointer;
    }
    input[type="range"]::-ms-track {
        width: 100%;
        height: 9px;
        cursor: pointer;
        background: transparent;
        border-color: transparent;
        color: transparent;
    }
    input[type="range"]::-ms-fill-lower {
        background: rgba($c_interBB, 0.3);
        border: 0px solid rgba(255, 255, 255, 0);
        border-radius: 2px;
        box-shadow: 1px 1px 2.3px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
    }
    input[type="range"]::-ms-fill-upper {
        background: rgba($c_interBB, 0.3);
        border: 0px solid rgba(255, 255, 255, 0);
        border-radius: 2px;
        box-shadow: 1px 1px 2.3px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
    }
    input[type="range"]::-ms-thumb {
        box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
        // border: 0px solid #d670b7;
        height: 22px;
        width: 17px;
        border-radius: 0px;
        background: rgba($c_interBB, 0.66);
        height: 9px;
    }
    input[type="range"]:focus::-ms-fill-lower {
        background: rgba($c_interBB, 0.3);
    }
    input[type="range"]:focus::-ms-fill-upper {
        background: rgba($c_interBB, 0.3);
    }
}