//info pages puppet master or custom branding
//
//GLOBALS
$PM_HEADER_IS_VERTICAL: false;
$PM_NAV_ICONS: true; //always true if PM_HEADER_IS_VERTICAL true
$INFO_PM_BRAND: true;
//sizes
$basicTextSize: 1;
$verticalHeader: (width: 6vh);
$horizontHeader: (height: 6vh, logo_width: 12vw, asset: 3vh, );
$floatheader: (width:auto, height:auto, logo_width: 15vh, fontSize: $basicTextSize + 0.2, );
$hamburger: (distance: 3vh, );
$mob: (height: 6vh, open_width: 45vw, nav_height: 6vh, );
$panel: (height: 3vh, );
$footer: (height: 3vh);