.attention {}

.pm_emailLoader {
    @include ping;
}

.pm_copytooltip .pm_copytooltip--text {
    width: 140px;
    background-color: #555;
    color: #fff;
    transition: opacity 0.3s;
}

.pm_copytooltip .pm_copytooltip--text::after {
    border-color: #555 transparent transparent transparent;
}

//go top button
$gotopButtonSize: 2;
#pm_gototop {
    [dir=rtl] & {
        left: 5vh;
    }
    [dir=ltr] & {
        right: 5vh;
    }
    @if $LIGHT_THEME==true {
        background-color: rgba($c_black, 0.2);
    }
    @if $LIGHT_THEME==false {
        img {
            filter: invert(1);
        }
    }
    bottom: 5vh !important;
    border-radius: 50%;
    padding: 1vh;
    box-shadow: 0 0 0.1vh 0.1vh $c_opos;
    &:hover {
        filter: brightness(1.1) invert(1);
        box-shadow: 0 0 0.1vh 0.2vh $c_opos;
        transition: 0.2s;
    }
    img {}
}

//page blocking div
#pm_overlay {
    background-color: rgba($c_opos, 0.2);
}