.pm_loader {
    $width: 20vh;
    $height: 20vh;
    position: fixed;
    background-image: url($ICONS_FOLDER + "100a.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: $width;
    height: $height;
    top: calc(#{50vh} - (#{$width} / 2) - #{5vh});
    left: calc(#{50vw} - (#{$width} / 2));
    z-index: 1984;
}

.pm_emailLoader {
    background-image: url($ICONS_FOLDER + "mail.svg");
}