//VARIABLES
$headerShadow: 0vh 0vh 1vh 0.1vh rgba(0, 0, 0, 0.4);
[data-floatheader=true] {
    header {
        box-shadow: 0 0 0 0.1vh rgba($c_opos, .1);
        background-color: rgba($c_domin, .8);
        border-radius: 0.5vh;
        padding-right: 2vh;
        padding-left: 2vh;
        top: 2vh;
    }
    #pm_mobile-slide {
        top: 10vh;
        box-shadow: 0 0 0 0.05vh $c_opos;
        background-color: rgba($c_domin, .8);
        padding: 1vh;
        border-radius: 1vh;
    }
    #pm_Header--mobile {
        background-color: transparent;
        box-shadow: none;
    }
}