//settings
$catalogColumns: 2;
$catalogMobColumns: 1;
//
@mixin col-pm_catalog($mob) {
    $catalogFontScale: null;
    @if $mob==false {
        //more is smaller
        $catalogFontScale: 1.5;
    }
    @if $mob==true {
        //more is smaller
        $catalogFontScale: 1.5;
    }
    $catalogFontSize: ((100 / 2) + (100)) / (($catalogFontScale * 100));
    @include f-size($catalogFontSize);
    .pm_catalog_item_images img {
        @if $mob==false {
            width:calc(((#{100vw} / (#{$catalogColumns} / 0.4)) + ((#{100vh} / (#{$catalogColumns} / 0.8)) * #{$catalogColumns})) / #{$catalogColumns});
        }
        @if $mob==true {
            width:calc(((#{100vh} / (1 / 0.4)) + ((#{100vw} / (1 / 0.8)) * 1)) / 3);
        }
    }
}

.pm_catalog {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    text-align: center;
}

@include qr(desk) {
    .pm_catalog_wraper {
        grid-template-columns: repeat($catalogColumns, 1fr);
    }
}

@include qr(mob) {
    .pm_catalog_wraper {
        grid-template-columns: repeat($catalogMobColumns, 1fr);
    }
}

.pm_catalog_wraper {
    display: grid;
    justify-items: center;
    align-items: center;
    width: 96vw;
}

.pm_catalog_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2vh;
    border-radius: 1%;
    text-transform: capitalize;
    @if $LIGHT_THEME==true {
        border: solid 0.1vh $c_black;
    }
    @if $LIGHT_THEME==false {
        border: solid 0.1vh $c_white;
    }
    &:hover {
        filter: brightness(1.1);
    }
    .pm_catalog_item_images img {
        margin-top: 1vh;
        @if $LIGHT_THEME==true {
            box-shadow: 0 0 0.8vh 0 $c_shadow;
        }
        @if $LIGHT_THEME==false {
            box-shadow: $pm_formBS;
        }
        border-radius: 3%;
        cursor: pointer;
    }
}

.pm_catalog_item_information {}

.pm_catalog_item_name {
    @include font(1, 400);
    text-align: center;
    text-transform: uppercase;
}

.pm_catalog_item_category {
    font-size: smaller;
}

.pm_catalog_item_subcategory {}

.pm_catalog_item_infa {}

.pm_catalog_item_price {}

.pm_catalog_item_minorder {
    font-size: smaller;
}

@include qr(desk) {
    @include col-pm_catalog(false);
    .pm_catalog {
        margin-bottom: 10vh;
    }
    .pm_catalog_item {
        margin-top: 5vh;
    }
    .pm_catalog_item_name {}
    .pm_catalog_item_category {}
    .pm_catalog_item_subcategory {}
    .pm_catalog_item_infa {}
    .pm_catalog_item_price {}
    .pm_catalog_item_minorder {}
}

@include qr(desk) {
    @include col-pm_catalog(false);
    .pm_catalog {}
    .pm_catalog_item {
        margin-top: 5vw;
    }
    .pm_catalog_name {}
    .pm_catalog_job {}
    .pm_catalog_bio {}
}

@include qr(mob) {
    @include col-pm_catalog(true);
    .pm_catalog {}
    .pm_catalog_item {
        margin-top: 5vh;
    }
    .pm_catalog_name {}
    .pm_catalog_job {}
    .pm_catalog_bio {}
}

//.pm_catalog_wrapper_rank_#{$i} {
//       display: grid;
//      justify-items: center;
//      align-items: center;
//    width: 96vw;
//    @if $mob==false {
//       grid-template-columns: repeat(nth($catalogColumns, $i), 1fr);
//   }
//   @if $mob==true {
//       @if $mob==false {
//          display: grid;
//          grid-template-columns: repeat(nth($catalogMobColumns, $i), 1fr);
//      }
//  }
//  }