@mixin pmGrid($col, $gap) {
    $width: calc(#{(#{98vw} / #{$col}) - #{(#{$gap})
}


}
);
display: grid;
justify-items: center;
align-items: center;
align-content: center;
grid-gap: $gap;
grid-template-columns: repeat($col,
1fr);
div {
    width: $width;
    height: $width;
}
div {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    img {
        max-width: 96%;
        max-height: 96%;
    }
}

}