//settings
$rankNumber: 2;
$rankColumns: 1,
2;
$rankMobColumns: 1,
1;
//
@mixin col-pm_team($mob) {
    @for $i from 1 through $rankNumber {
        $teamFontScale: null;
        .pm_team_rank_#{$i} {
            @if $mob==false {
                //more is smaller
                $teamFontScale: 1;
            }
            @if $mob==true {
                //more is smaller
                $teamFontScale: 1.5;
            }
            $teamFontSize: ((100 / ($i * 2)) + ($i * 100)) / ($i * ($teamFontScale * 100));
            @include f-size($teamFontSize);
            img {
                @if $mob==false {
                    width:calc(((#{100vw} / (#{$i} / 0.4)) + ((#{100vh} / (#{$i} / 0.8)) * #{$i})) / 2.8);
                }
                @if $mob==true {
                    width:calc(((#{100vh} / (#{$i} / 0.4)) + ((#{100vw} / (#{$i} / 0.8)) * #{$i})) / 2.8);
                }
            }
        }
        .pm_team_wrapper_rank_#{$i} {
            display: grid;
            justify-items: center;
            align-items: center;
            width: 96vw;
            @if $mob==false {
                grid-template-columns: repeat(nth($rankColumns, $i), 1fr);
            }
            @if $mob==true {
                @if $mob==false {
                    display: grid;
                    grid-template-columns: repeat(nth($rankMobColumns, $i), 1fr);
                }
            }
        }
    }
}

.pm_team {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
}

.pm_team_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #666;
    &:hover {
        div,
        span,
        img {
            filter: brightness(1.2);
        }
    }
    img {
        @if $LIGHT_THEME==true {
            box-shadow: 0 0 0.8vh 0 $c_shadow;
        }
        @if $LIGHT_THEME==false {
            box-shadow: $pm_formBS;
        }
        border-radius: 50%;
        cursor: pointer;
    }
}

.pm_team_name {
    @include font(1, 400);
    text-align: center;
    text-transform: uppercase;
}

.pm_team_job {
    text-align: center;
    text-transform: capitalize;
}

.pm_team_bio {
    text-align: justify;
}

@include mob(false) {
    @include col-pm_team(false);
    .pm_team {
        margin-bottom: 10vh;
    }
    .pm_team_item {
        margin-top: 5vh;
    }
    .pm_team_name {
        margin-top: 2vw;
    }
    .pm_team_job {}
    .pm_team_bio {}
}

@include mob(false) {
    @include col-pm_team(false);
    .pm_team {}
    .pm_team_item {
        margin-top: 5vw;
    }
    .pm_team_name {
        margin-top: 2vw;
    }
    .pm_team_job {}
    .pm_team_bio {}
}

@include mob(true) {
    @include col-pm_team(true);
    .pm_team {}
    .pm_team_item {
        margin-top: 5vh;
    }
    .pm_team_name {
        margin-top: 1.5vh;
    }
    .pm_team_job {}
    .pm_team_bio {}
}