/*change browser defaults*/

input,
button,
textarea {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    border: 0;
    outline: none;
    background-color: initial;
}

input[type="submit"],
input[type="button"],
button {
    cursor: pointer;
}

textarea:focus,
input:focus,
button:focus {
    outline: none;
}

//users select none
.pm_mobileBar {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

button,
textarea,
input,
canvas {
    border: none !important;
    border-radius: 3px;
    padding: 0;
    font: inherit;
    box-shadow: 1px 1px 2px 0px "";
    -webkit-user-select: text;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"] {
    text-align: center !important;
}

input[type="submit"] {
    cursor: pointer;
}

input[type="password"] {
    direction: ltr !important;
}

iframe[src*=youtube] {
    width: 1px;
    min-width: 100%;
}

video,
iframe {
    -webkit-user-select: text;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 1vh;
    outline: none;
}

video:focus {}

input {
    margin: 0 0 2vh 0;
    -webkit-appearance: none !important;
    &:hover {
        filter: brightness(1.2);
    }
}

select {
    margin: 0 0 2vh 0;
    font-size: 2.6vh;
    text-transform: capitalize;
}

textarea {
    margin: 0 0 2vh 0;
}

//remove arrows from number input
//For Firefox
input[type="number"] {
    -moz-appearance: textfield;
}

//Webkit browsers like Safari and Chrome
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}