//!!!DO NOT TOUCH - GO TO CORE!!!
@import "../../../../core/styles/sass/system_core/browser_core";
html {
    height: 100vh;
    min-height: 100vh;
    max-height: 100vh;
    width: 100vw;
    min-width: 100vw;
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    height: 100vh;
    min-height: 100vh;
    max-height: 100vh;
    width: 100vw;
    min-width: 100vw;
    max-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    flex-direction: column;
    margin: 0 0 0 0;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    overflow-wrap: break-word;
    [dir=rtl] & {
        direction: rtl;
    }
    [dir=ltr] & {
        direction: ltr;
    }
}

[data-header=false],
[data-footer=false] {
    .video--fullscreen {
        video {
            height: 100vh !important;
            min-height: 100vh !important;
        }
    }
}

[data-header=true],
[data-footer=true] {
    .video--fullscreen {
        video {
            height: 97vh !important;
            min-height: 97vh !important;
        }
    }
}

.video--fullscreen {
    position: absolute;
    z-index: 0;
    width: 100vw;
    height: 100vh;
}

@include mob(true) {
    .video--fullscreen {
        video {
            object-fit: cover;
            width: 100vw;
            height: 90vh;
        }
    }
}

@include mob(true) {
    .video--fullscreen {
        video {
            min-width: 100vw;
            width: initial;
            max-height: 91vh;
            min-height: 91vh;
            height: initial;
        }
    }
}

.video--foreground {
    z-index: 1;
    position: fixed;
    width: 100vw;
    height: 100vh;
}

@include mob(true) {
    .video--foreground {
        height: 100vh;
    }
}

@include mob(false) {
    .video--foreground {
        height: 91vh;
    }
}

header {}

nav {}

section {}

article {}

footer {}

p {}

h1 {}

h2 {}

h3 {}

h4 {}

h5 {}

h6 {}

ul {}

ol {}

li {}