//!!!DO NOT TOUCH - GO TO CORE!!!
@import "../../../../core/styles/sass/system_core/browser_core";

/*change browser defaults*/

html {
    height: 100vh;
    width: 100vw;
    max-height: 100vh;
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    height: 100vh;
    width: 100vw;
    max-height: 100vh;
    max-width: 100vw;
    overflow-x: hidden;
    @include dir('direction', 'direction', ltr, rtl);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    flex-direction: column;
    margin: 0 0 0 0;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    overflow-wrap: break-word;
}

header {}

nav {}

section {}

article {}

footer {}

p {}

h1 {}

h2 {}

h3 {}

h4 {}

h5 {}

h6 {}

ul {}

ol {}

li {}

a {
    text-decoration: none;
    color: inherit;
}

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

select {
    font-family: inherit !important;
    background-repeat: no-repeat, repeat;
}

select::-ms-expand {
    display: none;
}

input,
textarea,
select {
    margin: 0 0 1.6vh 0;
}

input {
    border: none;
}

input[type="button"],
input[type="submit"],
button {
    text-align: center;
    vertical-align: text-bottom;
    padding: 1vh;
}

input[type="tel"],
input[type="email"],
input[type="password"],
input[type="text"] {
    text-align: center !important;
    direction: ltr !important;
}

//remove arrows from number input
//For Firefox
input[type="number"] {
    -moz-appearance: textfield !important;
}

//Webkit browsers like Safari and Chrome
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    margin: 0;
}

form,
label {
    display: flex;
    justify-content: center;
}

iframe[src*=youtube] {
    width: 1px;
    min-width: 100%;
}

*:focus {
    outline: 0 !important;
}

input[type="checkbox"],
input[type="button"],
input[type="submit"],
input[type="checkbox"]:after,
button {
    cursor: pointer;
}

input[type="checkbox"]:after {
    content: "";
    position: absolute;
    display: none;
}


/*Hide the checkmark by default*/

input[type="checkbox"]+label::after {
    content: none;
}


/*Unhide the checkmark on the checked state*/

input[type="checkbox"]:checked+label::after {
    content: "";
}

input[type="checkbox"] {
    appearance: checkbox;
    display: flex;
    align-items: center;
    label {
        padding-left: 1vh;
        padding-right: 1vh;
        [dir=rtl] & {
            text-align: right;
        }
        [dir=ltr] & {
            text-align: left;
        }
    }
}