//!!!DO NOT TOUCH!!!
@if $PM_HEADER_IS_VERTICAL==true {
    $PM_NAV_ICONS: true;
}

@if $PM_FOOTER==false {
    $footer: (height: 0vh)
}

@function generateContentSize($widthBool, $mobis) {
    @if $widthBool==true {
        //width
        $widthVar: null;
        @if $PM_HEADER_IS_VERTICAL==true {
            @if $mobis==false {
                $widthVar: calc(100vw - #{map-get($verticalHeader, width)});
            }
            @if $mobis==true {
                $widthVar: 100vw;
            }
        }
        @if $PM_HEADER_IS_VERTICAL==false {
            $widthVar: 100vw;
        }
        @return $widthVar;
    }
    /**/
    //height
    @if $widthBool==false {
        $heightVar: null;
        @if $PM_HEADER_IS_VERTICAL==false {
            @if $mobis==false {
                $heightVar: map-get($horizontHeader, height) + map-get($footer, height);
            }
            @if $mobis==true {
                $heightVar: map-get($mob, height) + map-get($footer, height);
            }
        }
        @if $PM_HEADER_IS_VERTICAL==true {
            @if $mobis==false {
                $heightVar: map-get($footer, height);
            }
            @if $mobis==true {
                $heightVar: map-get($mob, height) + map-get($footer, height);
            }
        }
        @return calc(100vh - #{$heightVar});
    }
}

@function generateContentPosition($topBool, $mobis) {
    @if $topBool==true {
        $topVar: null;
        @if $PM_HEADER_IS_VERTICAL==false {
            @if $mobis==false {
                $topVar: map-get($horizontHeader, height);
            }
            @if $mobis==true {
                $topVar: map-get($mob, height);
            }
        }
        @if $PM_HEADER_IS_VERTICAL==true {
            @if $mobis==false {
                $topVar: 0px;
            }
            @if $mobis==true {
                $topVar: map-get($mob, height);
            }
        }
        @return calc(0vh + #{$topVar});
    }
    @if $topBool==false {
        $sideVar: null;
        @if $PM_HEADER_IS_VERTICAL==false {
            @if $mobis==false {
                $sideVar: 0px;
            }
            @if $mobis==true {
                $sideVar: 0px;
            }
        }
        @if $PM_HEADER_IS_VERTICAL==true {
            @if $mobis==false {
                $sideVar: map-get($verticalHeader, width);
            }
            @if $mobis==true {
                $sideVar: 0px;
            }
        }
        @return calc(0vw + #{$sideVar});
    }
}