//!!!DO NOT TOUCH!!!
@function generateContentSize($widthBool, $mobis) {
    @if $widthBool==true {
        //width
        $widthVar: null;
        @if $PM_HEADER_IS_VERTICAL==true {
            @if $mobis==false {
                $widthVar: calc(100vw - #{map-get($verticalHeader, width)});
            }
            @if $mobis==true {
                $widthVar: 100vw;
            }
        }
        @if $PM_HEADER_IS_VERTICAL==false {
            $widthVar: 100vw;
        }
        @return $widthVar;
    }
    /**/
    //height
    @if $widthBool==false {
        $heightVar: null;
        @if $PM_HEADER_IS_VERTICAL==false {
            @if $mobis==false {
                $heightVar: map-get($horizontHeader, height);
            }
            @if $mobis==true {
                $heightVar: map-get($mob, height);
            }
        }
        @if $PM_HEADER_IS_VERTICAL==true {
            @if $mobis==false {
                $heightVar: 0px;
            }
            @if $mobis==true {
                $heightVar: map-get($mob, height);
            }
        }
        @return calc(100vh - #{$heightVar} - #{map-get($footer, height)});
    }
}

@function generateContentPosition($topBool, $mobis) {
    $vertical: null;
    $vertical: $PM_HEADER_IS_VERTICAL;
    @if $topBool==true {
        $top1: null;
        $top2: null;
        @if $PM_HEADER_IS_VERTICAL==false {
            @if $mobis==false {
                $top1: map-get($horizontHeader, height);
            }
            @if $mobis==true {
                $top1: map-get($mob, height);
            }
        }
        @if $PM_HEADER_IS_VERTICAL==true {
            $top1: 0px;
        }
        $top2: map-get($panel, height);
        @return calc(0vh + #{$top1});
    }
    @if $topBool==false {
        $vert1: null;
        $vert2: null;
        @if $PM_HEADER_IS_VERTICAL==true {
            $vert1: map-get($verticalHeader, width);
        }
        @if $PM_HEADER_IS_VERTICAL==false {
            $vert1: 0px;
        }
        @return calc(0vw + #{$vert1});
    }
}