.pm_checkbox {
    display: flex;
    align-items: center;
    font-size: 1.3vh;
    label {
        padding-left: 1vh;
        padding-right: 1vh;
        [dir=rtl] & {
            text-align: right;
        }
        [dir=ltr] & {
            text-align: left;
        }
    }
}

.pm_requiredfield::after {
    content: "*";
    color: $c_err;
}