#fourzerofourError {
    background-color: #2f2f2f;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    left: 0;
    position: fixed;
    img {
        width: 50vh;
    }
}