//responisve font sizes
//font fills
@mixin f-size-fill($size) {
    $sizex: ($size * 1vw);
    $sizey: ($size * 1vh);
    $sizez: ($size * 1vmin);
    font-size: calc(#{$sizex} + #{$sizey} + #{($sizez / 2)});
}

@mixin width-fill($size) {
    $sizex: ($size * 1vw);
    $sizey: ($size * 1vh);
    $sizez: ($size * 1vmin);
    width: calc(#{$sizex} + #{$sizey} + #{($sizez / 2)});
}

//rfs font size fix
@mixin f-size($size) {
    @media (orientation: landscape) {
        font-size: calc(((#{$size}rem) + (#{$size}em)) / 1.8);
    }
    @media (orientation: portrait) {
        font-size: calc(((#{$size}rem) + (#{$size}em)) / 2);
    }
}

//queries
@mixin qr($device) {
    @if $device==mob {
        [data-mob=true] {
            @media (max-aspect-ratio: 13/9) {
                @content;
            }
        }
        [data-mob=false] {
            @media (orientation: portrait) {
                @content;
            }
        }
    }
    @if $device==desk {
        [data-mob=true] {
            @media (min-aspect-ratio: 13/9) {
                @content;
            }
        }
        [data-mob=false] {
            @media (orientation: landscape) {
                @content;
            }
        }
    }
    @if $device==tab {
        /*  [data-mob=true] {
            @media (min-aspect-ratio: 13/9) {
                @content;
            }
        }
        [data-mob=false] {
            @media (orientation: landscape) {
                @content;
            }
        } */
    }
}

//
@mixin dir($value) {
    [dir=ltr] & {
        left: $value;
    }
    [dir=rtl] & {
        right: $value;
    }
}

@mixin flex-center() {
    display: flex;
    justify-content: center;
    align-items: center;
}

//backround images
@mixin bgimg($name, $page) {
    background-image: url("#{$IMAGES_CORE}page_#{$page}/#{$name}.png");
}