//responisve font sizes
//font fills
@mixin fontfill($size) {
    $sizex: ($size * 1vw);
    $sizey: ($size * 1vh);
    $sizez: ($size * 1vmin);
    font-size: calc(#{$sizex} + #{$sizey} + #{($sizez / 2)});
}

//rfs font size
@mixin rfs-fs($size) {
    @include font-size(($size*1rem));
}

//queries
@mixin mob($x) {
    @if $x==true {
        [mob=true] {
            @media (max-aspect-ratio: 13/9) {
                @content;
            }
        }
        [mob=false] {
            @media (max-width: 1210px) {
                @content;
            }
        }
    }
    @if $x==false {
        [mob=true] {
            @media (min-aspect-ratio: 13/9) {
                @content;
            }
        }
        [mob=false] {
            @media (min-width: 1210px) {
                @content;
            }
        }
    }
}

//if mob
@mixin ifmob($MOB_IS) {
    @media (max-aspect-ratio: 13/9) {
        $MOB_IS: true;
    }
    @media (orientation: portrait) {
        $MOB_IS: true;
    }
    @media (orientation: landscape) {
        $MOB_IS: false;
    }
}

//
@mixin dir($ltr, $rtl, $ltrV, $rtlV) {
    [dir=ltr] & {
        #{$ltr}: $ltrV;
    }
    [dir=rtl] & {
        #{$rtl}: $rtlV;
    }
}

// Disable selection
@mixin disableSelect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome and Opera */
}