a {
    text-decoration: none;
    border-bottom: solid 1px $c_brand;
    color: inherit;
}

.link {
    a:link {}
    a:visited {}
    a:hover {}
    a:active {}
}

//subMenuDiv
.subMenuDiv {
    a:link {}
    a:visited {}
    a:hover {}
    a:active {}
}

//scrolled
.linkScrolled {
    a:link {}
    a:visited {}
    a:hover {}
    a:active {}
}

//subMenuDiv Scrolled
.subMenuDivScrolled {
    a:link {}
    a:visited {}
    a:hover {}
    a:active {}
}

//for mob
.linkMob {
    a:link {}
    a:visited {}
    a:hover {}
    a:active {}
}