//!!!DO NOT TOUCH - GO TO CORE!!!
#pm_adminLoginView {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1990;
    background: $c_D_interM1;
    color: $c_domin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .adminTitle {
        position: fixed;
        top: 15vh;
    }
    img {
        width: 30vw;
    }
}

@include qr(mob) {
    #pm_adminLoginView {
        img {
            width: 45vh;
        }
    }
}

.loginMessageText {
    position: fixed;
    bottom: 5vh;
    text-transform: uppercase;
}