//!!!DO NOT TOUCH - GO TO CORE!!!
@import "../../../../core/styles/sass/system_core/misc_core";
//COPY
#copyto {
    user-select: initial !important;
}

#copytoBut:hover+.pm_copytooltip {
    opacity: 1 !important;
}

.pm_copytooltip {
    position: relative;
    display: inline-block;
}

.pm_copytooltip .pm_copytooltip--text {
    visibility: hidden;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
}

.pm_copytooltip .pm_copytooltip--text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
}

.pm_copytooltip:hover .pm_copytooltip--text {
    visibility: visible;
    opacity: 1;
}

#pm_gototop {
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1979;
}

.pm_gototop--scrolled {
    display: flex !important;
}

//page blocking div
#pm_overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1983 !important;
    justify-content: center;
    align-items: center;
}