//!!!DO NOT TOUCH - GO TO CORE!!!
@import "../../../../core/styles/sass/system_core/page_core";
@include mob(true) {
    main section:first-of-type {
        margin-top: -1px;
    }
}

@if $PM_HEADER_IS_VERTICAL==true {
    main section {
        min-height: calc(#{100vh} - #{$sectionBottomPadding} - #{$sectionTopPadding} - #{map-get($footer, height)});
    }
}

@if $PM_HEADER_IS_VERTICAL==false {
    main section {
        min-height: calc(#{100vh} - #{$sectionBottomPadding} - #{$sectionTopPadding} - #{map-get($horizontHeader, height)} - #{map-get($footer, height)});
    }
}

main section {
    width: calc(#{100%} - (#{$sectionSidePadding} * 2));
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: $sectionBottomPadding;
    padding-left: $sectionSidePadding;
    padding-right: $sectionSidePadding;
    @include f-size($basicTextSize);
    h1 {
        &:after {
            content: "";
            display: block;
            margin: 0 auto;
            width: 20%;
        }
    }
    div {
        height: auto;
        width: auto;
    }
}

main section article {}

.pm_text {}

.pm_page--light {}

.pm_text--intro {}