//!!!DO NOT TOUCH - GO TO CORE!!!
@import "../../../../core/styles/sass/system_core/page_core";
[data-footer=true] {
    main section:last-of-type {
        padding-bottom: calc(#{map-get($footer, height)} + #{map-get($footer, height)};
    }
    main section {
        min-height: calc(#{100%} - #{map-get($footer, height)} - #{$sectionPadding});
    }
}

@include mob(true) {
    main section:first-of-type {
        margin-top: -1px;
    }
}

main section {
    width: 100%;
    min-height: calc(#{100%} - #{$sectionPadding});
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: $sectionPadding;
    padding-right: $sectionPadding;
    padding-bottom: $sectionPadding;
    ;
    h1 {
        &:after {
            content: "";
            display: block;
            margin: 0 auto;
            width: 20%;
        }
    }
    div {
        height: auto;
        width: auto;
    }
}

main section article {}

.pm_text {}

.pm_page--light {}

.pm_text--intro {}