.attention {}

.pm_emailLoader {
    @include ping;
}

//VIDEO
video {}

.pm_video {
    video {}
}

@if $PM_FOOTER==false {
    [data-bar=false] {
        .bgVideo {
            video {
                height: 100vh !important;
                min-height: 100vh !important;
            }
        }
    }
}

else {
    [data-bar=false] {
        .bgVideo {
            video {
                object-fit: cover;
                width: 100vw !important;
                height: 97vh !important;
                min-height: 97vh;
            }
        }
    }
}

.bgVideo {
    position: absolute;
    z-index: 0;
    width: 100vw;
    height: 100vh;
    video {
        object-fit: cover;
        width: 100vw;
        height: 90vh;
    }
}

@include mob(true) {
    .bgVideo {
        video {
            min-width: 100vw;
            width: initial;
            max-height: 91vh;
            min-height: 91vh;
            height: initial;
        }
    }
}

.bgVideoEffect {
    background: $c_opos;
    z-index: 1;
    position: fixed;
    opacity: 0.6;
    width: 100vw;
    height: 100vh;
}

@include mob(true) {
    .bgVideoEffect {
        height: 100vh;
    }
}

@include mob(false) {
    .bgVideoEffect {
        height: 91vh;
    }
}

//COPY
#copyto {
    user-select: initial !important;
}

#copytoBut:hover+.pm_copyTooltip {
    opacity: 1 !important;
}

.pm_copyTooltip {
    position: relative;
    display: inline-block;
}

.pm_copyTooltip .pm_copyTooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}

.pm_copyTooltip .pm_copyTooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.pm_copyTooltip:hover .pm_copyTooltiptext {
    visibility: visible;
    opacity: 1;
}

//go top button
@include mob(true) {
    #pm_gototop {
        img {
            width: 2.5vh;
            height: 2.5vh;
        }
    }
}

@include mob(false) {
    #pm_gototop {
        img {
            width: 1.5vw;
            height: 1.5vw;
        }
    }
}

#pm_gototop {
    [dir=rtl] & {
        left: 5vh;
    }
    [dir=ltr] & {
        right: 5vh;
    }
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    @if $LIGHT_THEME==true {
        //background-color: $c_domin;
        background-color: rgba($c_black, 0.2);
    }
    @if $LIGHT_THEME==false {
        // background-color: $c_brand;
        img {
            // filter: invert(1);
        }
    }
    bottom: 5vh !important;
    border-radius: 50%;
    padding: 1vh;
    cursor: pointer;
    box-shadow: 0 0 0.1vh 0.1vh $c_opos;
    filter: invert(1);
    &:hover {
        filter: brightness(1.1) invert(1);
        box-shadow: 0 0 0.1vh 0.2vh $c_opos;
        transition: 0.2s;
    }
    z-index: 1979;
    img {}
}

.pm_gototop_scrolled {
    display: flex !important;
}

//page blocking div
#pm_overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1983 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $c_brand;
    opacity: 0.8;
}