.attention {}

#copyto {
    user-select: initial !important;
}

#copytoBut:hover+#copyTooltip {
    opacity: 1 !important;
}

//go top button
#pm_gototop {
    display: none;
    [dir=rtl] & {
        left: 5vh;
    }
    [dir=ltr] & {
        right: 5vh;
    }
    position: fixed;
    background-color: $c_brand;
    bottom: 5vh !important;
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    padding: 1vh;
    cursor: pointer;
    box-shadow: 0 0 0.2vh 0.2vh $c_shadow;
    &:hover {}
    z-index: 1979;
    img {
        width: 100%;
        height: 100%;
    }
}

.pm_gototop_scrolled {
    display: flex !important;
}

//page blocking div
#pm_overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1983 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $c_interM2;
    opacity: 0.7;
}