img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

button,
textarea,
input,
canvas,
select,
option,
video,
iframe {
    border: none !important;
    border-radius: 0.2vh;
    padding: 0;
    -webkit-user-select: text;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -ms-appearance: none;
    /*  background-color: $c_interB;
    box-shadow: $pm_formBS; */
}

button:hover,
textarea:hover,
input:hover,
canvas:hover,
select:hover,
option:hover,
video:hover,
iframe:hover {
    /*  background-color: $c_interP2; */
}

button:focus,
textarea:focus,
input:focus,
canvas:focus,
select:focus,
option:focus,
video:focus,
iframe:focus {
    /*  box-shadow: $pm_formBSactive; */
}

select {
    background-image: url("../assets/icons/down.svg");
    background-repeat: no-repeat, repeat;
    background-size: 1.6vh auto, 100%;
    font-family: inherit !important;
    /* [dir=rtl] & {
        background-position: left 0.7vh top 50%, 0 0;
    }
    [dir=ltr] & {
        background-position: right 0.7vh top 50%, 0 0;
    } */
    background-position: right 0.7vh top 50%, 0 0;
    text-transform: capitalize;
    /*  background: $c_interB; */
    /*  color: $c_opos; */
    padding-right: 3vh;
    padding-left: 0.5vh;
    font-size: 2.6vh;
}

select::-ms-expand {
    display: none;
}

select option {}

select option:hover {}

option {
    text-transform: capitalize;
}

input,
textarea,
select,
label {
    margin-right: 1vh;
    height: 3vh;
}

textarea,
input,
select,
option {
    /*  color: $c_opos; */
}

input,
textarea,
select,
{}

label {
    font-size: 3vh;
    text-transform: uppercase;
}

label span {}

input[type="submit"] {
    font-size: 1.1vh;
    background: $c_brand;
    /* color: $c_domin; */
}

input[type="button"],
button {
    /* background: $c_domin; */
    /*  color: $c_opos; */
}

input[type="button"],
input[type="submit"],
button {
    cursor: pointer;
    box-shadow: $pm_formBS;
    text-align: center;
    vertical-align: text-bottom;
    text-transform: uppercase;
    padding: 1vh;
}

input[type="button"]:hover input[type="submit"]:hover button:hover {
    font-size: 1vh;
    /* background: $c_interP2; */
    /*  color: $c_opos; */
}

input[type="button"]:active,
input[type="submit"]:active,
button:active {
    /*  box-shadow: $pm_formBSactive; */
}

input[type="tel"],
input[type="email"],
input[type="password"],
input[type="text"] {
    text-align: center !important;
    direction: ltr !important;
}

input[type="number"] {
    -moz-appearance: textfield !important;
}


/* Webkit browsers like Safari and Chrome */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    margin: 0;
}

input[type="checkbox"] {
    width: 2vh;
    height: 2vh;
    background-color: #fff;
}

input[type="checkbox"]:after {
    content: "";
    position: absolute;
    display: none;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

textarea {
    font-size: 2vh;
}

iframe[src*=youtube] {
    width: 1px;
    min-width: 100%;
}

video:focus {}

*:focus {
    outline: 0 !important;
}

::-moz-selection {
    background-color: #05a608;
    color: #1c140a;
}

::selection {
    background-color: #05a608;
    color: #1c140a;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}