@import "browser.css";
:root {
    --main-bg-color: #1c140a;
    --main-color: #05a608;
    /* #397e5b */
    /*#cc8c44 */
    /* #fee818 */
}

body {
    background-color: var(--main-bg-color);
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    font-family: 'VT323', monospace;
    color: var(--main-color);
    overflow-wrap: break-word;
}

canvas {
    position: fixed;
    width: 100vw;
    height: 100vh;
    opacity: 0.2;
    left: 0;
    top: 0;
    z-index: -1;
}

#sdktitle {
    font-size: 11vh;
    margin-top: 7vh;
    margin-bottom: 7vh;
    text-shadow: 1vh 1vh #003f01;
}

#sdk_control {
    width: 60vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
}

#sdk_terminal {
    width: 30vw;
    height: 80vh;
    background-color: var(--main-bg-color);
    color: var(--main-color);
    border-radius: 1vh;
    box-shadow: 0vh 0vh 1.5vh 0vh var(--main-color);
    font-family: 'VT323', monospace;
    padding: 2vh;
    font-size: 3vh;
    overflow-y: auto;
}

.sdk_control_item {
    padding-bottom: 2vh;
    display: flex;
    align-items: center;
    height: 5vh;
}

.sdk_control_main {}