@import "browser.css";
#sdk_terminal {
    display: flex;
    justify-content: center;
    background-color: #1c140a;
    /* #2f2f2f */
    color: #05a608;
    /* #397e5b */
    /*#cc8c44 */
    /* #05a608 */
    /* #fee818 */
    border-radius: 1vh;
    box-shadow: 0vh 0vh 1.5vh 0vh #05a608;
    font-family: 'VT323', monospace;
    /*  padding: 2vh; */
    font-size: 3vh;
    overflow-y: auto;
    width: 100%;
}

.terminal_string {
    width: 90%;
    margin-top: 5%;
}

#sdk_control {
    display: flex;
    flex-direction: column;
    user-select: none;
}

.sdk_control_item {
    margin-bottom: 2vh;
    display: flex;
    justify-content: stretch;
}

body {
    background-color: #1c140a;
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    margin: 0;
    padding: 0;
    font-family: 'VT323', monospace;
    color: #036904;
    overflow-wrap: break-word;
}

canvas {
    position: fixed;
    width: 100vw;
    height: 100vh;
    opacity: 1;
    left: 0;
    top: 0;
    z-index: -1;
}

#sdktitle {
    text-shadow: 1vh 1vh #003f01;
}

#blockA {
    display: flex;
    flex-direction: column;
    padding: 2.5vh;
}

#blockB {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2.5vh;
}

@media (orientation: portrait) {
    body {
        flex-direction: column;
    }
    #sdktitle {
        font-size: 10vh;
    }
    #blockA {
        height: 60%;
        padding: 3%;
    }
    #blockB {
        height: 40%;
    }
    #sdk_terminal {
        height: 100%;
    }
    input[type="tel"],
    input[type="email"],
    input[type="password"],
    input[type="text"] {
        font-size: 1vh;
    }
    #sdktitle {
        margin-bottom: 3vh;
    }
}

@media (orientation: landscape) {
    body {
        align-items: center;
    }
    #sdktitle {
        font-size: 12vh;
    }
    #blockA {
        height: 100vh;
        width: 74vw;
    }
    #blockB {
        height: 100vh;
        width: 26vw;
    }
    #sdk_terminal {
        height: 90vh;
    }
    input[type="tel"],
    input[type="email"],
    input[type="password"],
    input[type="text"] {
        font-size: 2.6vh;
    }
    #sdktitle {
        margin-top: 3vh;
        margin-bottom: 3vh;
    }
}