#pm_page_1 {
    justify-content: center;
    align-content: center;
}

#pageMain {
    @include flex-center();
}

#rippMainLogo {
    top: 25vh;
    left: calc(#{48vw} - #{25vh});
    position: fixed;
    img {
        width: 50vh;
        filter: invert(1);
    }
}

@include mob(true) {
    #rippMainLogo {
        top: initial;
        left: initial;
        position: initial;
        img {
            width: 30vh;
        }
    }
}