//base queries
@include mob(true) {
    #pm_id_Bar,
    #pm_id_BarFloat,
    #pm_admin_panel {
        display: none !important;
    }
}

@include mob(false) {
    #pm_mobileHeader,
    #pm_mobileBar,
    #pm_mobileHeaderFloat,
    #pm_mobileBarFloat {
        display: none !important;
    }
}

//shadow
$pm_bar_shadow: 0.1vh 0.1vh 1vh 0.1vh rgba(0, 0, 0, 0.4);
.pm_class_Bar,
.pm_mobileHeader,
.pm_bar_scrolled,
.pm_mobileBar {
    box-shadow: $pm_bar_shadow;
}

//
.pm_barLogo {
    width: map-get($horBar, logo_width);
    height: map-get($horBar, height);
    position: fixed;
    @include dir("left", "right", 0, 0);
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        max-width: calc(#{map-get($horBar, logo_width)} - 8vh);
        // filter: drop-shadow(1px 3px 2px #333);
    }
}

@include mob(true) {
    .pm_bar_asset {
        height: calc(#{map-get($mob, height)} / 2.1);
        top: calc((#{map-get($mob, height)} / 2) - ((calc(#{map-get($mob, height)} / 2.1)) / 2));
    }
}

@include mob(false) {
    .pm_bar_asset {
        height: calc(#{map-get($horBar, height)} / 2.1);
        top: calc((#{map-get($horBar, height)} / 2) - ((calc(#{map-get($horBar, height)} / 2.1)) / 2));
    }
}

.pm_bar_asset {
    // display: none;
    cursor: pointer;
    width: map-get($horBar, asset);
    position: fixed;
    z-index: 1979;
    @include dir("right", "left", 3vh, 3vh);
    &:hover {
        @include heartbeat;
    }
}

%base-Bar {
    z-index: 1978;
    top: 0;
    display: flex;
    position: fixed;
    justify-content: space-around;
    position: fixed;
}

@mixin verticalBar {
    @extend %base-Bar;
    width: map-get($vertBar, width);
    height: 100vh;
    @include dir("left", "right", 0, 0);
}

@mixin horizontalBar {
    @extend %base-Bar;
    width: 100vw;
    height: map-get($horBar, height);
    align-items: center;
    justify-content: center;
}

@mixin scrolledBar {
    $pmBarScrolledHeight: calc(#{map-get($horBar, height)} / 1.6);
    .pm_bar_scrolled {
        height: $pmBarScrolledHeight !important;
        transition: ease 1s;
        .pm_barLogo,
        .pm_bar_asset {
            transition: ease 0.1s;
        }
        .pm_barLogo {
            top: calc((#{$pmBarScrolledHeight} / 2) - (#{$pmBarScrolledHeight} / 0.65) / 2);
            img {
                max-width: calc(#{$pmBarScrolledHeight} / 0.35) !important;
            }
        }
        .pm_bar_asset {
            top: calc((#{$pmBarScrolledHeight} / 2) - (#{$pmBarScrolledHeight} / 0.8) / 3.5);
        }
        .pm_class_Nav {
            @if $PM_NAV_ICONS==true {
                .nav_item {
                    img,
                    &+div>img {
                        width: calc(#{map-get($vertBar, width)} / 3) !important;
                    }
                    span {
                        top: calc(#{map-get($horBar, height)} / 1.5) !important;
                        font-size: map-get($horBar, height) / 4 !important;
                    }
                }
            }
            @if $PM_NAV_ICONS==false {
                .nav_item {}
                span {
                    font-size: map-get($horBar, height) / 4 !important;
                }
            }
        }
    }
}

#pm_id_Bar {
    background-color: $c_domin;
    //hack to remove stripe between bar and content
    border-bottom: solid $c_domin 1px;
    /**/
    @if $PM_BAR_IS_VERTICAL==true {
        @include verticalBar;
    }
    @if $PM_BAR_IS_VERTICAL==false {
        @include horizontalBar;
    }
}

body {
    @if $PM_BAR_IS_VERTICAL==false {
        @include scrolledBar;
    }
}

.pm_mobileBar {
    width: map-get($mob, open_width);
    background-color: $c_domin;
    display: none;
    position: fixed;
    height: 100%;
    top: 0;
    z-index: 1977;
}

.pm_mobileBar,
.pm_mobileBarFloat {
    @include dir("left", "right", -100vw, -100vw);
}

.pm_mobileHeader,
.pm_mobileHeaderFloat {
    position: fixed;
    top: 0;
    @include dir("left", "right", 0, 0);
    width: 100%;
    z-index: 1978;
    height: calc(#{(map-get($mob, height)) + #{1px}
}

);
display: flex;
align-items: center;
justify-content: center;
padding: 0 !important;
margin: 0 !important;
font-size: 2vh;

}
.pm_mobileHeader {
    background-color: $c_domin;
}
.pm_mobileHeaderFloat {
    background-color: transparent;
}
#mobileHeaderLogo,
#mobileHeaderFloatLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    align-items: center;
    height: map-get($mob, height);
    width: 50vw;
    left: 25vw;
    img {
        height: calc(#{map-get($mob, height)} / 2.6);
    }
    
    a {
        border: none;
    }
}
#mobileHeaderFloatLogo {
    filter: invert(1);
}
//BAR FLOAT
.pm_barLogoFloat {
    opacity: 0;
    display: none;
    cursor: move;
    cursor: grab;
    img {
        width: map-get($floatBar, logo_width);
        &:hover {
            filter: opacity(0.5);
        }
    }
    
    [dir=rtl] & {
        margin-left: 2vh;
    }
    
    [dir=ltr] & {
        margin-right: 2vh;
    }
    
    @if $LIGHT_THEME==false {
        filter: invert(1);
    }
}
%BarFloat_appear {
    //  box-shadow: 0 0 0vh 0.2vh $c_opos;
    //  background-color: rgba($c_domin, .8);
    //  border-radius: 0.5vh;
    filter: invert(0);
}
#pm_id_BarFloat {
    @extend %BarFloat_appear;
    filter: invert(1);
    width: map-get($floatBar, width);
    height: map-get($floatBar, height);
    z-index: 1980;
    position: fixed;
    padding: 2vh;
    top: 2vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    [dir=rtl] & {
        left: 2vh
    }
    
    [dir=ltr] & {
        right: 2vh
    }
    
    a {
        border-bottom: none;
    }
}
#pm_mobileBarFloat {
    @extend %BarFloat_appear;
    background-color: rgba($c_brand2, 0.8);
    z-index: 1977;
    position: fixed;
    width: map-get($floatMobBar, width);
    height: map-get($floatMobBar, height);
    top: 10vh;
    .pm_Lang {
        img {
            display: none
        }
    }
}
//MISC
#pm_mobileBar {}
#pm_mobileHeader {}
#pm_mobileHeaderFloat {}