//base queries
@include mob(true) {
    #pm_id_Bar,
    #pm_id_admin_Bar,
    #pm_admin_panel {
        display: none !important;
    }
}

@include mob(false) {
    .pm_mobileBar,
    .pm_mobileHeader {
        display: none !important;
    }
}

//
.pm_barLogo {
    width: map-get($horBar, logo_width);
    height: map-get($horBar, height);
    position: fixed;
    @include dir("left", "right", 0, 0);
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        max-width: calc(#{map-get($horBar, logo_width)} - 8vh);
    }
}

@include mob(true) {
    .pm_bar_asset {
        height: calc(#{map-get($mob, height)} / 2.1);
        top: calc((#{map-get($mob, height)} / 2) - ((calc(#{map-get($mob, height)} / 2.1)) / 2));
    }
}

@include mob(false) {
    .pm_bar_asset {
        height: calc(#{map-get($horBar, height)} / 2.1);
        top: calc((#{map-get($horBar, height)} / 2) - ((calc(#{map-get($horBar, height)} / 2.1)) / 2));
    }
}

.pm_bar_asset {
    cursor: pointer;
    width: map-get($horBar, asset);
    position: fixed;
    z-index: 1979;
    @include dir("right", "left", 3vh, 3vh);
    @include hover_heartbeat;
}

%base-Bar {
    z-index: 1978;
    top: 0;
    display: flex;
    position: fixed;
    justify-content: space-around;
    position: fixed;
}

@mixin verticalBar {
    @extend %base-Bar;
    width: map-get($vertBar, width);
    height: 100vh;
    @include dir("left", "right", 0, 0);
}

@mixin horizontalBar {
    @extend %base-Bar;
    width: 100vw;
    height: map-get($horBar, height);
    align-items: center;
    justify-content: center;
}

@mixin scrolledBar {
    $pmBarScrolledHeight: calc(#{map-get($horBar, height)} / 1.6);
    .pm_bar_scrolled {
        height: $pmBarScrolledHeight !important;
        transition: ease 1s;
        .pm_barLogo,
        .pm_bar_asset {
            transition: ease 1s;
        }
        .pm_barLogo {
            top: calc((#{$pmBarScrolledHeight} / 2) - (#{$pmBarScrolledHeight} / 0.65) / 2);
            img {
                max-width: calc(#{$pmBarScrolledHeight} / 0.35) !important;
            }
        }
        .pm_bar_asset {
            height: calc(#{$pmBarScrolledHeight} / 0.8);
            top: calc((#{$pmBarScrolledHeight} / 2) - (#{$pmBarScrolledHeight} / 0.8) / 2);
        }
        .pm_class_Nav {
            @if $PM_NAV_ICONS==true {
                .nav_item,
                .nav_admin_item {
                    img,
                    &+div>img {
                        width: calc(#{map-get($vertBar, width)} / 3) !important;
                    }
                    span {
                        top: calc(#{map-get($horBar, height)} / 1.5) !important;
                        font-size: map-get($horBar, height) / 4 !important;
                    }
                }
            }
            @if $PM_NAV_ICONS==false {
                .nav_item,
                .nav_admin_item {}
                span {
                    font-size: map-get($horBar, height) / 4 !important;
                }
            }
        }
    }
}

#pm_id_Bar {
    background-color: $c_domin;
    //hack to remove stripe between bar and content
    border-bottom: solid $c_domin 1px;
    /**/
    @if $PM_BAR_IS_VERTICAL==true {
        @include verticalBar;
    }
    @if $PM_BAR_IS_VERTICAL==false {
        @include horizontalBar;
    }
}

body {
    @if $PM_BAR_IS_VERTICAL==false {
        @include scrolledBar;
    }
}

#pm_id_admin_Bar {
    background-color: $c_domin;
    @if $PM_ADMIN_BAR_IS_VERTICAL==true {
        @include verticalBar;
    }
    @if $PM_ADMIN_BAR_IS_VERTICAL==false {
        @include horizontalBar;
    }
}

#pm_mobileBar {
    width: map-get($mob, open_width);
}

#pm_admin_mobileBar {
    width: map-get($mob, open_width);
}

.pm_mobileBar {
    background-color: $c_domin;
    display: none;
    position: fixed;
    height: 100%;
    top: 0;
    z-index: 1977;
    @include dir("left", "right", -60vw, -60vw);
}

#pm_mobileHeader {}

#pm_admin_mobileHeader {}

.pm_mobileHeader {
    background-color: $c_domin;
    position: fixed;
    top: 0;
    @include dir("left", "right", 0, 0);
    width: 100%;
    z-index: 1978;
    height: calc(#{(map-get($mob, height)) + #{1px}
}

);
display: flex;
align-items: center;
justify-content: center;
padding: 0 !important;
margin: 0 !important;
font-size: 2vh;

}
#mobileHeaderLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    align-items: center;
    height: map-get($mob, height);
    width: 50vw;
    left: 25vw;
    img {
        height: calc(#{map-get($mob, height)} / 2.6);
    }
}
//langs
.pm_class_Nav {
    .pm_Lang {
        [dir=rtl] & {
            padding-right: 1vw;
        }
        [dir=ltr] & {
            padding-left: 1vw;
        }
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
        width: 100%;
        img {
            background-color: $c_brand;
            border-radius: 0.6vh;
            padding: 0.7vh !important;
            &:hover {
                filter: brightness(1.2);
                box-shadow: 0 0 0.5vh 0 $c_opos;
            }
            &:active {
                filter: brightness(1.2);
                box-shadow: 0 0 0.5vh 0.1vh $c_opos;
            }
        }
    }
}
.pm_langNav {
    display: none;
    top: -20vh;
}
.pm_langNav.--active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: map-get($horBar, height);
    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        input {
            @include f-size(0.8);
            background-color: rgba($c_domin, 0.8);
            color: $c_opos;
            margin-top: 2vh;
            border-radius: 0.6vh;
            padding: 0.7vh !important;
            box-shadow: 0px 0px 2px 0px $c_opos;
            &:hover {
                box-shadow: 0px 0px 0.5vh 0px $c_opos;
            }
            &:active {
                box-shadow: 0 0 0.5vh 0.1vh $c_opos;
            }
        }
    }
}
.pm_mobileNav {
    @include font(1, 400);
    .pm_Lang {
        position: absolute;
        bottom: 3vh;
        width: 100%;
        height: 10vh;
        img {
            display: none;
        }
        .pm_langNavMobile {}
        form {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-direction: row;
            input {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $c_brand;
                color: $c_domin;
                border-radius: 0.4vh;
                width: 4vh;
                height: 4vh;
                margin: 0;
                @include font(1, 400);
                @include f-size(0.7)
            }
        }
    }
}