//!!!DO NOT TOUCH - GO TO CORE!!!
@import "../../../../core/styles/sass/skeleton_core/footer_core";
footer {
    //hack to remove stripe between content and footer
    border-top: solid $c_domin 1px;
    height: map-get($footer, height);
    @include flex-center();
    #pm_footer--credits,
    #pm_footer--credits-by {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #pm_footer--copyright {
        position: absolute;
    }
    [dir=rtl] & {
        left: 0;
    }
    [dir=ltr] & {
        right: 0
    }
    //**fixed footer
    position: fixed;
    bottom: 0;
    //**//
}

header.header-desktop--vert {
    footer {
        width: calc(#{100vw} - #{map-get($verticalHeader, width)});
    }
}

header.header-desktop--horiz {
    footer {
        width: 100vw;
    }
}

[data-header=float] {
    footer {
        width: 100vw;
    }
}

@include qr(mob) {
    footer {
        width: 100vw;
    }
}