//!!!DO NOT TOUCH - GO TO CORE!!!
@import "../../../../core/styles/sass/skeleton_core/footer_core";
footer {
    //hack to remove stripe between content and footer
    border-top: solid $c_domin 1px;
    width: 100%;
    height: map-get($footer, height);
    @include flex-center();
    #pm_footer--credits,
    #pm_footer--credits-by {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #pm_footer--copyright {
        position: absolute;
    }
    //**fixed footer
    position: fixed;
    bottom: 0;
    //**//
}