//!!!DO NOT TOUCH - GO TO CORE!!!
$hamburgerColor: null;
$hamburgerBGColor: null;
@import "../../../../core/styles/sass/system_core/hamburgers_core";
$hamburgerDistance: map-get($hamburger, distance);
.pm_hamburger {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    @include dir('left', 'right', $hamburgerDistance, $hamburgerDistance);
}

.hamburger {
    height: $hamburgerSize / 0.5;
    width: $hamburgerSize / 0.4;
    background-color: $hamburgerBGColor;
    padding: $hamburgerPadding;
    border-radius: $hamburgerRadius;
    border: none;
    box-shadow: $hamburgerShadow;
    .hamburger-box {
        display: flex;
        justify-content: center;
        align-items: center;
        .hamburger-inner,
        .hamburger-inner::before,
        .hamburger-inner::after {
            width: $hamburgerSize * 3;
            height: $hamburgerSize / 5;
            background-color: $hamburgerColor;
        }
    }
}

.hamburger--helper {
    width: 100vw;
    height: 100vh;
    bottom: 0;
    position: fixed;
    z-index: 1976;
}