//hamburger vars
$hamburgerColor: null;
$hamburgerBGColor: null;
@if $LIGHT_THEME==true {
    $hamburgerColor: $c_opos;
    $hamburgerBGColor: rgba($c_brand2, 0.0);
}

@if $LIGHT_THEME==false {
    $hamburgerColor: $c_opos;
    $hamburgerBGColor: rgba($c_brand2, 0.0);
}

$hamburgerRadius: 0; //3px;
$hamburgerShadow: none;
$hamburgerSize: map-get($mob, height) / 6;
$hamburgerDistance: map-get($hamburger, distance);
.pm_hamburger {
    height: $hamburgerSize / 0.5;
    width: $hamburgerSize / 0.4;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    @include dir('left', 'right', $hamburgerDistance, $hamburgerDistance);
}

.hamburger {
    background-color: $hamburgerBGColor;
    padding: 2vh;
    border-width: $hamburgerRadius;
    border-style: initial;
    border-color: initial;
    border-radius: 3px;
    //margin: 1vh;
    box-shadow: $hamburgerShadow;
    .hamburger-box {
        display: flex;
        justify-content: center;
        align-items: center;
        .hamburger-inner,
        .hamburger-inner::before,
        .hamburger-inner::after {
            width: $hamburgerSize * 3;
            height: $hamburgerSize / 5;
            background-color: $hamburgerColor;
        }
    }
}

.hamburgerHelperDiv {
    width: 100vw;
    height: 100vh;
    bottom: 0;
    position: fixed;
    z-index: 1976;
}