@include mob(false) {
    #mainContent {
        width: generateContentSize(true, false);
        min-height: generateContentSize(false, false);
        top: generateContentPosition(true, false);
    }
}

@include mob(true) {
    #mainContent {
        left: 0vh !important;
        right: 0vh !important;
        width: 100vw;
        top: $heightMobBar;
        min-height: calc(100vh - #{$heightFoot} - #{$heightMobBar});
    }
}

[dir=rtl] {
    #mainContent {
        right: generateContentPosition(false, false);
    }
}

[dir=ltr] {
    #mainContent {
        left: generateContentPosition(false, false);
    }
}

[data-bar=false],
[data-floatbar=true] {
    #mainContent {
        width: 100vw;
        min-height: calc(100vh - #{$heightFoot});
        top: 0vh;
        left: 0vw;
        right: 0vw;
    }
}

#mainContent {
    position: absolute;
    display: flex;
    justify-content: center;
    overflow-y: auto;
    background-color: $c_domin;
    overflow-x: hidden;
}