//!!!DO NOT TOUCH - GO TO CORE!!!
@import "../../../../core/styles/sass/skeleton_core/main_core";
main {
    position: absolute;
}

//common
main.case_A,
main.case_B,
main.case_C,
main.case_D {
    [dir=rtl] & {
        right: 0;
    }
    [dir=ltr] & {
        left: 0;
    }
}

main.case_E:not(.vert--extended),
main.case_F:not(.vert--extended) {
    [dir=rtl] & {
        right: map-get($verticalHeader, width);
    }
    [dir=ltr] & {
        left: map-get($verticalHeader, width);
    }
}

main.case_E.vert--extended,
main.case_F.vert--extended {
    width: calc(#{100%} - #{map-get($verticalHeader, extend_width)});
    [dir=rtl] & {
        right: map-get($verticalHeader, extend_width);
    }
    [dir=ltr] & {
        left: map-get($verticalHeader, extend_width);
    }
}

@include qr(mob) {
    main.case_E,
    main.case_F {
        right: 0 !important;
        left: 0 !important;
    }
}

main.case_C,
main.case_D {
    top: map-get($horizontHeader, height);
}

@include qr(mob) {
    main.case_C,
    main.case_D {
        top: map-get($mob, height);
    }
}

//
//
//no header (or float), no footer
main.case_A {
    section {
        min-height: 100vh;
    }
    width: 100%;
    top: 0;
}

//no header (or float), with footer
main.case_B {
    section {
        min-height: calc(#{100vh} - (#{$sectionBottomPadding} * 2) - #{map-get($footer, height)});
    }
    width: 100%;
    top: 0;
}

//horiz header, no footer
main.case_C {
    section {
        min-height: calc(#{100vh} - (#{$sectionBottomPadding} * 2) - #{map-get($horizontHeader, height)});
    }
    width: 100%;
}

//horiz header, with footer
main.case_D {
    section {
        min-height: calc(#{100vh} - (#{$sectionBottomPadding} * 2) - #{map-get($horizontHeader, height)} - #{map-get($footer, height)});
    }
    width: 100%;
}

//vert (or vertext) header, no footer
@include qr(desk) {
    main.case_E {
        section {
            min-height: 100vh;
        }
        width: calc(#{100%} - #{map-get($verticalHeader, width)});
        top: 0;
    }
}

@include qr(mob) {
    main.case_E {
        section {
            min-height: calc(#{100vh} - (#{$sectionBottomPadding} * 2) - #{map-get($mob, height)});
        }
        width: 100%;
        top: map-get($mob, height);
    }
}

//vert (or vertext) header, with footer
@include qr(desk) {
    main.case_F {
        section {
            min-height: calc(#{100vh} - (#{$sectionBottomPadding} * 2) - #{map-get($footer, height)});
        }
        width: calc(#{100%} - #{map-get($verticalHeader, width)});
        top: 0;
    }
}

@include qr(mob) {
    main.case_F {
        section {
            min-height: calc(#{100vh} - (#{$sectionBottomPadding} * 2) - #{map-get($footer, height)} - #{map-get($mob, height)});
        }
        width: 100%;
        top: map-get($mob, height);
    }
}