//!!!DO NOT TOUCH - GO TO CORE!!!
@import "../../../../core/styles/sass/skeleton_core/main_core";
@include mob(true) {
    main {
        height: generateContentSize(false, true);
        width: generateContentSize(true, true);
        top: generateContentPosition(true, true);
        left: 0 !important;
        right: 0 !important;
    }
}

@include mob(false) {
    main {
        height: generateContentSize(false, false);
        width: generateContentSize(true, false);
        top: generateContentPosition(true, false);
    }
}

[dir=rtl] {
    main {
        right: generateContentPosition(false, false);
        left: 0;
    }
}

[dir=ltr] {
    main {
        left: generateContentPosition(false, false);
        right: 0;
    }
}

[data-header=false] {
    main {
        width: 100vw;
        height: calc(100vh - #{map-get($footer, height)});
        top: 0vh;
        left: 0vw;
        right: 0vw;
    }
}

main {
    position: absolute;
}