    @mixin navImageFilter {
        @if $LIGHT_THEME==false {
            filter: brightness(1.5) contrast(0.7);
        }
        @if $LIGHT_THEME==true {
            filter: none;
        }
    }
    
    @mixin hor_navfontsize() {
        font-size: map-get($horBar, height) / 2;
    }
    
    @mixin pm_class_verticalNav {
        a {
            border-bottom: none;
        }
        .pm_Lang {
            img {
                height: map-get($vertBar, width) / 1.8;
            }
        }
        @extend %base-Nav;
        margin-top: 4vh;
        height: 60vh;
        width: map-get($vertBar, width);
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        .nav_item {
            span {}
        }
        .nav_admin_item {
            span {}
        }
        .nav_item,
        .nav_admin_item {
            @extend %base-Nav_item;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover>a>span {
                transition: ease-in 0.1s;
                @include dir('left', 'right', calc(#{map-get($vertBar, width)} - 1vh), calc(#{map-get($vertBar, width)} - 1vh));
            }
            &:hover>a>img {
                transition: ease-in 0.2s;
                width: calc(#{map-get($vertBar, width)} / 1.8);
            }
            img {
                width: calc(#{map-get($vertBar, width)} / 2.9);
                @include navImageFilter();
            }
            span {
                position: absolute;
                display: flex;
                align-items: center;
                @include dir('left', 'right', -50vh, -50vh);
                width: 15vh;
                justify-content: center;
                height: calc(#{map-get($vertBar, width)} / 2);
                z-index: -1;
                border-radius: 1vh;
                background-color: $c_interP1;
                padding: 0.5vh;
            }
        }
    }
    
    @mixin pm_class_horizontalNav {
        a {
            border-bottom: none;
        }
        .pm_Lang {
            img {
                padding: 0.3vh !important;
                height: map-get($horBar, height) / 2;
            }
        }
        @extend %base-Nav;
        align-items: center;
        text-align: center;
        justify-content: space-between;
        height: 100%;
        width: 70vw;
        .nav_item:first-of-type {
            display: none;
        }
        .nav_item {
            @if $PM_NAV_ICONS==true {
                &:hover>a>img {
                    transition: ease-in 0.3s;
                    border-radius: 0.4vh;
                    border: solid 0.1vh;
                    padding: 0.3vh;
                }
            }
        }
        .nav_admin_item {
            @if $PM_NAV_ICONS==true {
                &:hover>a>img {
                    transition: ease-in 0.1s;
                    width: calc(#{map-get($horBar, width)} / 1.4);
                }
            }
        }
        .nav_item,
        .nav_admin_item {
            @extend %base-Nav_item;
            padding-left: 1vw;
            padding-right: 1vw;
            height: 115%;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
            @if $PM_NAV_ICONS==true {
                img {
                    @include navImageFilter();
                }
                img,
                &+div>img {
                    padding: 1vh;
                    border: solid 0.1vh transparent;
                    width: calc(#{map-get($vertBar, width)} / 2);
                }
                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                &:hover>a>span {
                    transition: ease-in 0.2s;
                    opacity: 1;
                    background-color: $c_domin;
                }
                span {
                    @include hor_navfontsize();
                    @include font(1, 400);
                    opacity: 0;
                    position: fixed;
                    top: calc(#{map-get($horBar, height)} / 0.9);
                    z-index: -10;
                    border-radius: 0.5vh;
                    padding: 0.4vh;
                }
            }
            @if $PM_NAV_ICONS==false {
                span {
                    @include hor_navfontsize();
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    top: initial !important;
                    width: 100%;
                    height: 100%;
                    &:hover {
                        transition: 1s;
                        filter: brightness(1.5);
                        border-bottom: solid 0.1vh $c_opos;
                    }
                }
                img {
                    display: none !important;
                }
            }
        }
    }
    
    #pm_id_Nav {
        @if $PM_BAR_IS_VERTICAL==true {
            @include pm_class_verticalNav;
        }
        @if $PM_BAR_IS_VERTICAL==false {
            @include pm_class_horizontalNav;
        }
    }
    
    #pm_id_admin_Nav {
        @if $PM_ADMIN_BAR_IS_VERTICAL==true {
            @include pm_class_verticalNav;
        }
        @if $PM_ADMIN_BAR_IS_VERTICAL==false {
            @include pm_class_horizontalNav;
        }
    }
    
    %base-Nav {
        opacity: 1;
        text-transform: uppercase;
        display: flex;
        color: $c_opos;
    }
    
    %base-Nav_item {
        cursor: pointer;
    }
    
    .pm_mobileNav {
        a {
            border-bottom: none;
        }
        user-select: none;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 12vh;
        width: 100%;
        text-transform: uppercase;
        @include dir('align-items', 'align-items', flex-start, flex-end);
        .nav_item {
            height: map-get($mob, nav_height);
            span {
                @include f-size-fill(1)
            }
        }
        .nav_admin_item {
            height: map-get($mob, ad_nav_height);
            span {
                @include f-size-fill(1)
            }
        }
        .nav_item,
        .nav_admin_item {
            color: $c_opos;
            width: 100%;
            display: flex;
            img,
            span {
                @include dir('margin-left', 'margin-right', 3vh, 3vh);
            }
            img {
                @include width-fill(1.5);
                @include navImageFilter();
            }
            &:active {}
            a {
                justify-content: center;
                align-items: center;
                display: flex;
            }
        }
    }
    
    //langs
    .pm_class_Nav,
    .pm_class_NavFloat {
        .pm_Lang {
            [dir=rtl] & {
                padding-right: 1vw;
            }
            [dir=ltr] & {
                padding-left: 1vw;
            }
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            img {
                // background-color: $c_brand;
                border-radius: 50%;
                padding: 0.7vh !important;
                &:hover {
                    filter: brightness(1.2);
                    box-shadow: 0 0 0.5vh 0 $c_opos;
                }
                &:active {
                    filter: brightness(1.2);
                    box-shadow: 0 0 0.5vh 0.1vh $c_opos;
                }
            }
        }
    }
    
    .pm_langNav {
        display: none;
        top: -20vh;
    }
    
    .pm_langNav.--active {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: map-get($horBar, height);
        form {
            margin-top: 1.5vh;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            input {
                @include f-size($basicTextSize - 0.4);
                // background-color: rgba($c_domin, 0.8);
                background-color: $c_brand2;
                color: $c_black;
                margin-top: 0.5vh;
                // border-radius: 0.6vh;
                border-radius: 50%;
                padding: 0.7vh !important;
                box-shadow: 0px 0px 2px 0px $c_opos;
                &:hover {
                    filter: brightness(1.1);
                    //box-shadow: 0px 0px 0.5vh 0px $c_opos;
                }
                &:active {
                    box-shadow: 0 0 0.5vh 0.1vh $c_opos;
                }
            }
        }
    }
    
    .pm_mobileNav {
        @include font(1, 400);
        .pm_Lang {
            align-self: center;
            img {
                display: none;
            }
            .pm_langNavMobile {}
            form {
                flex-direction: row;
                input {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: $c_domin;
                    color: $c_opos;
                    border-radius: 0.4vh;
                    margin-left: calc(100vw - (45vw / 0.46));
                    margin-right: calc(100vw - (45vw / 0.46));
                    margin-top: calc(100vw - (45vw / 0.49));
                    @include font(1, 400);
                    @include f-size-fill(1)
                    /*  @include f-size($basicTextSize - 0.3) */
                }
            }
        }
    }
    
    #pm_id_NavFloat {
        width: 100%;
        display: flex;
        justify-content: center;
        .nav_item {
            padding-left: 0.7vh;
            padding-right: 0.7vh;
            &:hover {
                border-bottom: solid 0.1vh $c_opos;
            }
            @if $PM_NAV_ICONS==false {
                a {
                    img {
                        display: none;
                    }
                    span {
                        color: $c_opos;
                        @include f-size(map-get($floatBar, fontSize))
                    }
                }
            }
        }
        .nav_item:first-of-type {
            // display: none;
        }
        .pm_Lang {
            img {
                height: calc(#{map-get($floatBar, fontSize)} * 2.6vh);
            }
            [dir=rtl] & {
                /*  margin-right: 2vh; */
            }
            [dir=ltr] & {
                /* margin-left: 2vh; */
            }
        }
        .pm_langNav.--active {
            form {
                input {}
            }
        }
    }
    
    .pm_mobileNavFloat {
        padding: 1vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
        .nav_item {
            a {
                display: flex;
                align-items: center;
                border: none;
                span {
                    color: $c_opos;
                    @include f-size(map-get($floatMobBar, fontSize));
                    padding: 1vh;
                }
            }
            img {
                // filter: invert(1);
            }
        }
        .pm_langNavMobile {
            margin-top: 1vh;
            form {
                flex-direction: row;
                input {
                    padding: 1vh;
                    margin: 1vh;
                    background-color: transparent;
                    color: $c_opos;
                    box-shadow: 0 0 0vh 0.1vh $c_opos;
                }
            }
        }
    }