//!!!DO NOT TOUCH - GO TO CORE!!!
@import "../../../../core/styles/sass/skeleton_core/panel_core";
#pm_panel--header {
    position: fixed;
    z-index: 1979;
    top: 0;
    justify-content: flex-end;
    @include dir(map-get($verticalHeader, width));
    height: map-get($panel, height);
    width: calc(100vw - #{map-get($verticalHeader, width)});
    display: flex;
    flex-direction: row;
    align-items: center;
    div {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100%;
    }
}