@include mob(true) {
    .pm_blog_item {
        padding: 3vh;
        width: 70vw;
        img {
            width: 70vw;
        }
    }
}

@include mob(false) {
    .pm_blog_item {
        padding: 6vh;
        width: 40vw;
        margin-bottom: 10vh;
        img {
            width: 40vw;
        }
    }
}

.pm_blog_item {
    background-color: $c_domin;
    display: flex;
    flex-direction: column;
    border-radius: 1vh;
    img {
        height: auto;
        align-self: center;
    }
}

.pm_blog_name {
    align-self: center;
    margin-bottom: 2vh;
    @include f-size($basicTextSize + 0.2);
    @include font(1, 600);
}

.pm_blog_text {
    margin-top: 2vh;
    @include f-size($basicTextSize);
    @include font(1, 300);
}

.pm_blog_date {
    margin-top: 2vh;
    @include f-size($basicTextSize - 0.4);
    @include font(1, 400);
    font-style: italic;
}

@if $LIGHT_THEME==true {
    .pm_blog_item {
        box-shadow: 0.2vh 0vh 1vh 0.2vh rgba(0, 0, 0, 0.33);
    }
}

@if $LIGHT_THEME==false {
    .pm_blog_item {
        box-shadow: 0.1vh 0.1vh 1vh 0.1vh $c_black;
    }
}

.pm_blog {
    z-index: 1977;
}