.pm_contacts {
    display: flex;
    flex-direction: column;
    @include f-size($basicTextSize);
}

.pm_contacts_item {
    display: flex;
    align-items: center;
    img,
    span {
        padding: 1vh;
    }
    img {
        width: 5vh;
        @include selectNone();
    }
    span:first-of-type {
        text-transform: capitalize;
    }
}

.pm_contactsMobile_item {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        width: 7vh;
        padding: 2vh;
        @include selectNone();
    }
}

@include mob(true) {
    .pm_contacts {
        a {
            border: none;
        }
    }
    .pm_contacts_item {
        display: none !important;
    }
}

@include mob(false) {
    .pm_contacts {
        @if $LIGHT_THEME==true {}
        @if $LIGHT_THEME==false {
            a {
                border: none;
                // box-shadow: $pm_formBS;
                padding: 0.2vh;
            }
        }
    }
    .pm_contactsMobile_item {
        display: none !important;
    }
}