$swiperArrowSize: 8vh;
$swiperArrowSizeMob: 9vw;
@include qr(mob) {
    %swiper-button {
        height: $swiperArrowSizeMob;
        width: $swiperArrowSizeMob;
    }
}

@include qr(desk) {
    %swiper-button {
        height: $swiperArrowSize;
        width: $swiperArrowSize;
    }
}

%swiper-button:after {
    content: none;
}

.swiper-container {
    img {
        width: 100vw;
    }
    %swiper-button {
        background-image: url($ICONS_FOLDER + "25a.svg");
        background-size: contain;
    }
    .swiper-button-prev {
        @extend %swiper-button;
    }
    .swiper-button-next {
        @extend %swiper-button;
    }
    [dir=rtl] & {
        .swiper-button-next {
            margin-left: 1.6vh;
            transform: rotate(180deg);
        }
    }
    [dir=ltr] & {
        .swiper-button-next {
            margin-right: 1.6vh;
        }
        .swiper-button-prev {
            margin-right: 1.6vh;
            transform: rotate(180deg);
        }
    }
}