//PM_MODALS
//common
.pm_modal {
    @include selectNone;
}

$modalParentHeight: 30vh;
$modalParentWidth: $modalParentHeight * 1.4;
$modalButtonsWidth: $modalParentWidth / 4;
$modalButtonsHeight: $modalButtonsWidth / 2.6;
//main
.pm_modal_parent {
    display: flex;
    flex-direction: column;
    position: fixed;
    border-radius: 1vh;
    background-color: $c_white;
    z-index: 100;
    text-align: center;
    cursor: default;
    justify-content: center;
    z-index: 1984;
    min-height: $modalParentHeight;
    min-width: $modalParentWidth;
    box-shadow: 0.1vh 0.1vh 0.1vh 0.1vh $c_shadow;
}

//areas
.pm_modal_titleArea {
    height: 5vh;
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    div {
        margin-top: 1vh;
    }
}

.pm_modal_contentArea {
    @include f-size(0.8);
    width: 100%;
    position: absolute;
    top: 5vh;
    height: calc(#{$modalParentHeight} - 5vh - 8vh);
    display: flex;
    justify-content: center;
    align-items: center; // position: absolute;
    flex-direction: column;
    div {
        width: 85%;
        //padding: 1vh;
    }
}

.pm_modal_buttonsArea {
    width: 100%;
    height: 8vh;
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    bottom: 0;
}

input.pm_modal_button {
    @include f-size($basicTextSize);
    width: $modalButtonsWidth;
    height: $modalButtonsHeight;
    font-size: $modalButtonsHeight / 2;
    border-radius: 0.3vh;
    background-color: darken($c_white, 14%);
    box-shadow: 0.08vh 0.08vh 0.08vh 0.08vh $c_shadow;
    text-transform: capitalize;
    &:hover {}
    &:active {
        box-shadow: -0.08vh -0.08vh 0.08vh 0.08vh $c_shadow;
    }
}

//title
.pm_modal_title {
    @include font(1, 400);
    @include f-size(1.1);
    color: $c_brand;
}

//icons
.pm_modal_icon {
    width: 3vh;
    height: 3vh;
    background-size: contain;
    background-repeat: no-repeat;
    top: 1vh;
    position: absolute;
    &:hover {}
}

.pm_modal_icon_close {
    cursor: pointer;
    background-image: url(../sys/assets/icons/vector/close.svg);
    right: 2vh;
}

.pm_modal_icon_drag {
    cursor: move;
    /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    background-image: url(../sys/assets/icons/vector/drag.svg);
    left: 2vh;
}

.pm_modal_input {}

.pm_modal_img {}

.pm_modal_text {}

.pm_modal_innerdiv {}

.pm_modal_span {}

.pm_modal_canvas {}

.pm_modal .asterix {
    &::before {
        content: "*";
    }
}