//!!!DO NOT TOUCH - GO TO CORE!!!
@import "../../../../../core/styles/sass/skeleton_core/header_core/header_main_core";
//base queries
@include qr(mob) {
    header:first-of-type {
        display: none !important;
    }
}

@include qr(desk) {
    header:nth-of-type(2) {
        display: none !important;
    }
}

header {
    background-color: $c_domin;
    box-shadow: $headerShadow;
    position: fixed !important;
    z-index: 1978;
    top: 0;
    display: flex;
    justify-content: space-around;
    @include dir(0);
}

header.header-desktop--vert {
    width: map-get($verticalHeader, width);
    height: 100vh;
}

header.header-desktop--horiz {
    width: 100vw;
    height: map-get($horizontHeader, height);
    align-items: center;
    //hack to remove stripe between header and content
    border-bottom: solid $c_domin 1px;
}

header.header-desktop--float {
    width: map-get($floatheader, width);
    height: map-get($floatheader, height);
    align-items: center;
    justify-content: center;
    @include dir(2vh);
}