//LOGO
#pm_logo-header {
    width: map-get($horizontHeader, logo_width);
    height: map-get($horizontHeader, height);
    position: fixed;
    @include dir(0);
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: calc(#{map-get($horizontHeader, logo_width)} / 1.8);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

@if $LIGHT_THEME==true {
    #pm_logo-header,
    #pm_logo-header--float,
    #pm_logo-header--mobile {
        background-image: url("#{$IMAGES_CORE}brand/barLogo--forLight.svg");
    }
}

@if $LIGHT_THEME==false {
    #pm_logo-header,
    #pm_logo-header--float,
    #pm_logo-header--mobile {
        background-image: url("#{$IMAGES_CORE}brand/barLogo--forDark.svg");
    }
    #pm_asset-header,
    #pm_asset-header--float {
        filter: invert(1);
    }
}

#pm_logo-header--mobile {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: map-get($mob, height);
    width: 50vw;
    left: 25vw;
    background-position: center;
    background-size: calc(#{map-get($mob, height)} / 0.5);
    background-repeat: no-repeat;
}

#pm_logo-header {
    width: map-get($horizontHeader, logo_width);
    height: map-get($horizontHeader, height);
    position: fixed;
    @include dir(0);
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: calc(#{map-get($horizontHeader, logo_width)} / 1.8);
    background-repeat: no-repeat;
    background-position: center;
}

#pm_logo-header--float {
    height: 4vh;
    width: 10vh;
    cursor: move;
    cursor: grab;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    [dir=rtl] & {
        margin-left: 2vh;
    }
    [dir=ltr] & {
        margin-right: 2vh;
    }
}

//ASSET
#pm_asset-header {
    width: map-get($horizontHeader, asset);
    position: fixed;
    z-index: 1979;
    [dir=rtl] & {
        left: 3vh;
    }
    [dir=ltr] & {
        right: 3vh;
    }
}

#pm_asset-header,
#pm_asset-header--float {
    cursor: pointer;
    &:hover {
        @include heartbeat;
    }
}

#pm_asset-header--float {
    [dir=rtl] & {
        margin-right: 2vh;
    }
    [dir=ltr] & {
        margin-left: 2vh;
    }
}