//!!!DO NOT TOUCH - GO TO CORE!!!
@import "../../../../../core/styles/sass/skeleton_core/header_core/header_inside_core";
//LOGO
#pm_logo-header {
    width: map-get($horizontHeader, logo_width);
    height: map-get($horizontHeader, height);
    position: absolute;
    @include dir(0);
    background-size: calc(#{map-get($horizontHeader, logo_width)} / 1.8);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

@if $PM_HEADER_IS_VERTICAL==true {
    #pm_logo-header {
        position: absolute;
        width: 100%;
    }
}

@if $LIGHT_THEME==true {
    #pm_logo-header,
    #pm_logo-header--float,
    #pm_logo-header--mobile {
        background-image: url("#{$IMAGES_CORE}brand/barLogo--forLight.svg");
    }
    @if $PM_HEADER_IS_VERTICAL==true {
        #pm_logo-header {
            background-image: url("#{$IMAGES_CORE}brand/squareLogo--forLight.svg") !important;
        }
    }
}

@if $LIGHT_THEME==false {
    #pm_logo-header,
    #pm_logo-header--float,
    #pm_logo-header--mobile {
        background-image: url("#{$IMAGES_CORE}brand/barLogo--forDark.svg");
    }
    #pm_asset-header,
    #pm_asset-header--float {
        filter: invert(1);
    }
    @if $PM_HEADER_IS_VERTICAL==true {
        #pm_logo-header {
            background-image: url("#{$IMAGES_CORE}brand/squareLogo--forDark.svg") !important;
        }
    }
}

#pm_logo-header--mobile {
    position: fixed;
    @include flex-center();
    height: map-get($mob, height);
    width: 50vw;
    left: 25vw;
    background-position: center;
    background-repeat: no-repeat;
}

#pm_logo-header--float {
    cursor: move;
    cursor: grab;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

//ASSET
#pm_asset-header {
    width: map-get($horizontHeader, asset);
    position: absolute;
    z-index: 1979;
}

#pm_asset-header,
#pm_asset-header--float {
    cursor: pointer;
    &:hover {
        @include heartbeat;
    }
}

#pm_asset-header--float {}

@if $PM_HEADER_IS_VERTICAL==true {
    @include qr(desk) {
        #pm_asset-header {
            right: initial !important;
            left: initial !important;
        }
    }
}