//!!!DO NOT TOUCH - GO TO CORE!!!
@import "../../../../../core/styles/sass/skeleton_core/header_core/lang_menu_core";
//
#pm_Lang {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    // @include flex-center();
    img {
        border-radius: 50%;
        padding: 0.7vh !important;
        height: calc(#{map-get($floatheader, fontSize)} * 2.6vh);
    }
}

header.header-desktop--vert {
    #pm_Lang {
        bottom: $langMenuMarginFromEnd;
    }
    #lang_menu {
        @include dir(map-get($verticalHeader, width) * 1.2);
        form {
            flex-direction: row;
            input {
                [dir=rtl] & {
                    margin-left: $langMenuInputsMargin;
                }
                [dir=ltr] & {
                    margin-right: $langMenuInputsMargin;
                }
            }
        }
    }
}

header.header-desktop--horiz {
    #pm_Lang {
        [dir=rtl] & {
            left: $langMenuMarginFromEnd;
        }
        [dir=ltr] & {
            right: $langMenuMarginFromEnd;
        }
    }
    #lang_menu {
        form {
            flex-direction: column;
            input {
                margin-bottom: $langMenuInputsMargin;
                margin-left: 0;
                margin-right: 0;
            }
        }
    }
}

#lang_menu {
    display: none;
    position: absolute;
    form {
        justify-content: center;
        align-items: center;
        input {
            @include f-size($basicTextSize - $langMenuInputsFontSize);
            @include flex-center;
            font-weight: bolder;
            height: $langMenuInputsSize;
            width: $langMenuInputsSize;
        }
    }
}

#lang_menu.--active {
    display: flex;
}

#pm_Lang--mobile {
    position: absolute;
    img:first-of-type {
        display: none;
    }
}

#lang_menu--mobile {
    form {
        input {}
    }
}

[data-header=float] {
    #pm_Lang {
        position: initial;
    }
    #pm_Lang--mobile {
        margin-top: 2vh;
        margin-bottom: 1vh;
        position: initial;
    }
    #lang_menu {
        left: initial;
        right: initial;
        form {
            flex-direction: column;
            input {
                margin-bottom: $langMenuInputsMargin;
                margin-left: 0;
                margin-right: 0;
            }
        }
    }
}