           #pm_page_2 {
               background-color: $c_white;
               color: $c_black;
               h1 {
                   color: $c_black;
               }
           }
           
           @include mob(true) {
               #logoGrid {
                   @include pmGrid(2, 2vw)
               }
           }
           
           @include mob(false) {
               #logoGrid {
                   @include pmGrid(4, 1vw);
                   div {
                       &:hover {
                           filter: grayscale(1) brightness(0.5);
                       }
                   }
               }
           }
           
           #logoGrid {
               margin-top: 5vh;
               margin-bottom: 5vh;
               div {
                   background: rgba(#fff, 0.1);
                   border-radius: 2vh;
                   border: solid 1px rgba($c_brand, 0.6);
                   &:hover {
                       transition: 0.2s;
                       background: rgba(#fff, 0.9);
                       border-radius: 4vh;
                   }
               }
           }
           
           .page2img {
               width: 96%;
           }