#pm_page_3 {}

@include mob(true) {
    .archSlider {
        margin-top: 10vh;
    }
}

@include mob(false) {}

.archSlider {
    width: 100vw;
    margin-bottom: 6vh;
    img {
        width: 100vw;
    }
}