#pageContacts {
    color: $c_white;
}

#contactGrid {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    .pm_text {
        margin-bottom: 5vh;
        font-weight: 400;
        @include f-size(1.5);
    }
    .pm_contacts_img,
    .pm_contactsMobile_img {
        filter: invert(1);
    }
}

@include mob(true) {
    #contactGrid {
        flex-direction: column;
    }
}

@include mob(false) {
    #contactGrid {
        flex-direction: row;
    }
    .contactGrid_item {
        width: 50vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .pm_text {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50vw;
        }
    }
}

.contactGrid_item {}

#rippMap {
    height: 100%;
    width: 100%;
    background-color: #333;
}

#someCredits {
    position: absolute;
    left: 2vh;
    bottom: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    @include f-size(0.6);
    img {
        margin-left: 1vh;
        height: 2.2vh;
    }
}