@include mob(true) {
    #internetGrid {
        @include pmGrid(1, 0vw);
        margin-top: 2vw;
        div {
            height: 64vw;
        }
    }
}

@include mob(false) {
    #internetGrid {
        @include pmGrid(1, 0vw);
        margin-top: 10vh;
        div {
            height: 64vh;
            img {
                &:hover {
                    transition: 0.8s;
                    filter: brightness(1.2);
                }
            }
        }
    }
}

#internetGrid {
    margin-bottom: 5vh;
    div {
        height: 100% important;
        &:hover {
            transition: 0.2s;
        }
    }
}