@include mob(true) {
    #fontsGrid {
        margin-top: 5vh;
        @include pmGrid(4, 1vw);
        img {
            width: 6vh;
        }
    }
}

@include mob(false) {
    #fontsGrid {
        @include pmGrid(1, 0vw);
        img {
            width: 80vh;
        }
    }
}