@include mob(true) {
    #page_6_img_1 {
        margin-top: 5vh;
        width: 40vw;
    }
    #fontsGrid {
        margin-top: 5vh;
        margin-bottom: 2vh;
        @include pmGrid(1, 7vh);
        div {
            height: 100%;
        }
        img {
            width: 70vw;
        }
    }
}

@include mob(false) {
    #page_6_img_1 {
        margin-top: 5vh;
        width: 20vw;
    }
    #fontsGrid {
        @include pmGrid(1, 10vh);
        margin-top: 10vh;
        margin-bottom: 5vh;
        div {
            height: 100%;
        }
        img {
            width: 40vw;
        }
    }
}

#gofanariumLink {
    border-bottom: none;
}

#text_6_3 {
    cursor: pointer;
    &:hover {
        margin-bottom: 1vh;
        transition: 1s;
    }
}