         .pm_page_incontent {
             color: $c_opos;
             min-height: 100%;
             min-width: 100%;
             display: flex;
             flex-direction: column;
             align-items: center;
             background-color: $c_domin;
             a {
                 @include f-size($basicTextSize);
             }
             h1 {
                 color: $c_opos;
                 text-transform: uppercase;
                 @include font(1, 50);
                 @include f-size(2);
                 margin-top: 10vh;
                 &:after {
                     content: "";
                     display: block;
                     margin: 0 auto;
                     width: 20%;
                     padding-top: 1vh;
                     border-bottom: 0.3vh solid $c_brand;
                 }
             }
             .pm_inner_page {
                 width: 100vw;
                 display: flex;
                 justify-content: center;
                 flex-direction: column;
                 align-items: center;
             }
             .closingPageDiv {
                 height: 5vh;
             }
         }
         
         .lightPage {
             background-color: $c_white;
             color: $c_black;
             h1 {
                 color: $c_black;
             }
         }
         
         @include mob(true) {
             .pm_text {
                 width: 90vw;
                 line-height: 115%;
             }
         }
         
         @include mob(false) {
             .pm_text {
                 width: 90vw;
                 line-height: 130%;
             }
         }
         
         .pm_text {
             @include f-size($basicTextSize);
             @include font(1, 300);
         }
         
         .pm_intro_text {
             text-align: center;
         }