$pm_fonts: (Montserrat: cyrillic, Heebo: hebrew);
@each $font,
$name in $pm_fonts {
    @import url("https://fonts.googleapis.com/css?family=#{$font}:100,400,900&display=swap&subset=#{$name}");
}

//font url not match template
//SecularOne: hebrew
@import url('https://fonts.googleapis.com/css?family=Secular+One&display=swap');
//1- for regular fonts
//2 - for special fonts
//3 - for another fonts
@mixin font($type,
$weight) {
    @if $type==1 {
        [lang=en] & {
            font-family: Montserrat;
            font-weight: $weight;
        }
        [lang=ru] & {
            font-family: Montserrat;
            font-weight: $weight;
        }
        [lang=he] & {
            font-family: Heebo;
            font-weight: $weight;
        }
    }
    @if $type==2 {
        [lang=en] & {
            font-family: Secular One;
            font-weight: $weight;
        }
        [lang=ru] & {
            font-family: Secular One;
            font-weight: $weight;
        }
        [lang=he] & {
            font-family: Secular One;
            font-weight: $weight;
        }
    }
}