@include mob(true) {
    footer {
        span {}
    }
}

@include mob(false) {
    footer {}
}

footer {
    background-color: $c_domin;
    color: $c_opos;
    box-shadow: 0vh 0vh 1vh 0vh rgba($c_black, 0.2);
    @include font(1, 900);
    text-transform: uppercase;
    span {
        @include font(1, 400);
        @include f-size($basicTextSize - 0.5);
    }
    #pm_footer--copyright {
        @include dir(2vw);
        direction: ltr;
    }
    #pm_footer--credits-by {
        &:hover {
            letter-spacing: 0.2vh;
            transition: 0.1s;
        }
    }
}