#pm_panel--header {
    @include f-size($basicTextSize + 0.3);
    div {
        padding-right: 3vh;
        padding-left: 3vh;
        img {
            [dir=rtl] & {
                transform: rotate(180deg);
            }
            [dir=ltr] & {
                transform: initial;
            }
        }
    }
}