#pm_panel--header {
    font-size: 1.8vh;
    div {
        padding-right: 3vh;
        padding-left: 3vh;
        img {
            [dir=rtl] & {
                transform: rotate(180deg);
            }
            [dir=ltr] & {
                transform: initial;
            }
        }
    }
}