@include mob(true) {
    .pm_footer {
        display: none;
    }
}

.pm_footer {
    background-color: $c_domin;
    //hack to remove stripe between content and footer
    border-top: solid $c_domin 1px;
    /**/
    color: $c_interBB;
    width: 100vw;
    @include font(1, 900);
    height: map-get($footer, height);
    position: fixed;
    bottom: 0;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    span {
        font-size: 0.8vh;
    }
    .pm_footerCredits,
    .pm_footerCreditsBy {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .pm_footerCreditsCopy {
        position: fixed;
        @include dir('right', 'left', 2vw, 2vw);
    }
}